@font-face {
  font-family: "fontello";
  src: url("#{$template_dir}assets/fonts/fontello/fontello.eot");
  src: url("#{$template_dir}assets/fonts/fontello/fontello.eot#iefix")
      format("embedded-opentype"),
    url("#{$template_dir}assets/fonts/fontello/fontello.woff2") format("woff2"),
    url("#{$template_dir}assets/fonts/fontello/fontello.woff") format("woff"),
    url("#{$template_dir}assets/fonts/fontello/fontello.ttf") format("truetype"),
    url("#{$template_dir}assets/fonts/fontello/fontello.svg#fontello")
      format("svg");
  font-weight: normal;
  font-style: normal;
}
[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;

  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: 0.2em;
  text-align: center;
  /* opacity: .8; */

  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;

  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;

  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: 0.2em;

  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */

  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.icon-circle {
  color: $color_white !important;
  background-color: $color_green_dark;
  border-radius: 100%;
  width: 34px;
  height: 34px;
  font-size: 18px;
  display: inline-block;
  padding: 7px 0 0 4px;
  &:hover {
    text-decoration: none !important;
  }
}

.icon-basket:before {
  content: "\e800";
} /* '' */
.icon-facebook:before {
  content: "\e801";
} /* '' */
.icon-twitter:before {
  content: "\e802";
} /* '' */
.icon-youtube-play:before {
  content: "\e803";
} /* '' */
.icon-instagramm:before {
  content: "\e804";
} /* '' */
.icon-pinterest-circled:before {
  content: "\e805";
} /* '' */
.icon-rss:before {
  content: "\e806";
} /* '' */
.icon-menu:before {
  content: "\e807";
} /* '' */
.icon-down-small:before {
  content: "\e808";
} /* '' */
.icon-left-small:before {
  content: "\e809";
} /* '' */
.icon-right-small:before {
  content: "\e80a";
} /* '' */
.icon-up-small:before {
  content: "\e80b";
} /* '' */
.icon-up-circle:before {
  content: "\e80c";
} /* '' */
.icon-search:before {
  content: "\e80d";
} /* '' */
.icon-search-1:before {
  content: "\e80e";
} /* '' */
.icon-cancel:before {
  content: "\e80f";
} /* '' */
.icon-search-2:before {
  content: "\e810";
} /* '' */
.icon-gplus:before {
  content: "\f0d5";
} /* '' */
