
.icon-basket:before { content: '\e800'; } /* '' */
.icon-facebook:before { content: '\e801'; } /* '' */
.icon-twitter:before { content: '\e802'; } /* '' */
.icon-youtube-play:before { content: '\e803'; } /* '' */
.icon-instagramm:before { content: '\e804'; } /* '' */
.icon-pinterest-circled:before { content: '\e805'; } /* '' */
.icon-rss:before { content: '\e806'; } /* '' */
.icon-menu:before { content: '\e807'; } /* '' */
.icon-down-small:before { content: '\e808'; } /* '' */
.icon-left-small:before { content: '\e809'; } /* '' */
.icon-right-small:before { content: '\e80a'; } /* '' */
.icon-up-small:before { content: '\e80b'; } /* '' */
.icon-up-circle:before { content: '\e80c'; } /* '' */
.icon-search:before { content: '\e80d'; } /* '' */
.icon-search-1:before { content: '\e80e'; } /* '' */
.icon-cancel:before { content: '\e80f'; } /* '' */
.icon-search-2:before { content: '\e810'; } /* '' */
