/* STRUCTURE ***************************************************/

.comparison-panel {
  .comparison-panel-title {
    padding-bottom: 45px - 12px;;
  }
  .comparison-panel-content {
    padding-bottom: 55px;
    max-width: 750px;
    margin:0 auto;
    .comparison-panel-left-column {

    }
    .comparison-panel-right-column {
      .subhead {
        max-width: inherit;
        margin: inherit;
      }
    }
  }
  .comparison-panel-files {
    .comparison-panel-file {
      p {
        margin-bottom: 0 !important;
      }
      @media screen and (max-width: $bp_desktop - 1) {
        max-width: 400px;
        margin-left: auto;
        margin-right: auto;
        padding-bottom: 20px;
        &:last-child {
          padding-bottom: inherit;
        }
      }
      a {
        margin-bottom: 15px;
        @media screen and (max-width: $bp_desktop - 1) {
          margin-bottom: 10px;
        }
      }
    }
  }
}

/* TYPOGRAPHY ***************************************************/

.comparison-panel {
  .comparison-panel-right-column {
    .subhead {
      font-weight: $weight_semi !important;
      a {
        color: $color_grey_very_dark !important;
        font-weight: $weight_semi !important;
        &:hover {
          color: $color_grey_very_dark !important;
          text-decoration: underline;
          font-weight: $weight_semi !important;
          &:after {
            text-decoration: none !important;
          }
        }
        &:after {
          content: '\e80a';
          font-family: $font_icon;
          margin-left: 10px;
          pointer-events: none;
          text-decoration: none !important;
        }
      }
    }
  }
}
