.cta-panel {
  text-align: center;
  background-color: $color_grey_very_dark;
  .content {
    max-width: 675px;
    margin: 0 auto;
    h2 {
      color: $color_white !important;
    }
    a {
      color: $color_grey_very_dark !important;
      margin-top: 25px;
    }
  }
}

// ----------------------------------------------------------------------------
// Blog CTA
// ----------------------------------------------------------------------------

.blog-cta {

}

.blog-cta__content {
  padding-top: 60px;
  padding-bottom: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  > * + * {
    margin-top: 30px;
  }
  @media screen and (min-width: $bp_desktop) {
    justify-content: space-between;
    flex-direction: row;
    > * + * {
      margin-top: 0px;
    }
  }
}

.blog-cta__content__headline {

}

.blog-cta__content__button {

}
