.has-js {
	form {
		.gfield_radio, .radio_group, .radio_buttons {
			label {
				margin-bottom: 10px;
        margin-left: 0 !important;
				&:before {
					content: '';
					margin-right: 15px;
					display: inline-block;
					width: 20px;
					height: 20px;
					background-color: $color_tan;
					vertical-align: -5px;
					border-radius: 20px;
				}
				&:first-child {
					margin-top: 0px;
				}
				input {
					position: absolute !important; left: -9999px !important;
				}
				&.r_on {
					&:before {
						background-color: $color_grey_very_dark;
					}
				}
			}
		}
		.gfield_checkbox, .checkbox_group, .check_boxes, .login-remember {
			label {
				margin-bottom: 10px;
        margin-left: 0 !important;
				&:before {
					content: '';
					margin-right: 15px;
					display: inline-block;
					width: 20px;
					height: 20px;
					background-color: $color_tan;
					vertical-align: -5px;
				}
				&:first-child {
					margin-top: 0px;
				}
				input {
					position: absolute !important; left: -9999px !important;
				}
				&.r_on {
					&:before {
						background-color: $color_grey_very_dark;
					}
				}
			}
		}
	}
}
