.customer-story {
  background-color:$color_grey_very_dark;
  display: flex;
  flex-direction: column;
  @media screen and (min-width:960px) {
    flex-direction: row;
  }
  .content-container {
    width:100%;
    color:$color_white;
    display:flex;
    flex-direction:column;
    text-align: center;
    justify-content: center;
    padding: 55px 25px 55px;
    transition: width 0.15s, padding 0.15s;
    @media screen and (min-width:960px) {
      width: 66.6666666%;
      padding: 20px 40px 20px;
    }
    @media screen and (min-width:1200px) and (max-width:1450px) {
      width:50%;
      padding: 20px 80px 20px;
    }
    /*
    @media screen and (min-width:1250px) {
      width:50%;
      padding: 20px 80px 20px;
    }
    */
    > * {
      //max-width:475px;
      margin-left:auto;
      margin-right:auto;
    }
    .title {
      font-size: 18px;
      font-weight: normal;
      letter-spacing: 2.3px;
      text-transform: uppercase;
    }
    .quote {
      font-size: 17px !important;
      font-weight: normal !important;
      line-height: 1.45 !important;
      margin-top:40px;
      margin-bottom: 0 !important;
      @media screen and (min-width:1250px) {
        line-height: 1.76 !important;
        font-size: 19px !important;
      }
    }
  }
  .image-container {
    //transition: width 0.15s, padding 0.15s;
    width:100%;
    @media screen and (min-width:960px) {
      width:33.3333333%;
    }
    @media screen and (min-width:1200px) and (max-width:1450px) {
      width:50%;
    }
    picture {
      width:100% !important;
      height:auto !important;
      img {
        width: 100%;
        height:auto;
      }
    }
  }
}

.customer-story--dealer-difference {
  background-color: $color_white;
  .content-container {
    color: $color_grey_very_dark;
    padding-top: 35px;
    padding-bottom: 35px;
    .headline {

    }
    .description {
      margin-top: 25px;
      margin-bottom: 0 !important;
    }
    .dealer-search {
      margin-top: 46px;
      form {
        input, button {
          color: $color_white;
          background-color: $color_green_dark !important;
        }
        button:hover {
          background-color: $color_green_very_dark !important;
        }
      }
      .outside-us-link {
        margin-top: 12px;
        margin-bottom: 0 !important;
      }
    }
  }
  // Adjustments to make scaling work with 50/50 panel layout
  @media screen and (min-width: 960px) and (max-width: 1100px) {
    .content-container {
      padding-top: 18px;
      padding-bottom: 18px;
      .dealer-search {
        margin-top: 30px;
      }
      .description {
        margin-top: 18px;
      }
      h2.headline {
        font-size: 34px !important;
    		font-size: 3.4rem !important;
      }
    }
  }
}
