/* STRUCTURE ***************************************************/

.faq-panel {
	margin-bottom: 0;
	.container {
		padding-left: $gutter + 30px;
		padding-right: $gutter + 30px;
		@media screen and (max-width: $bp_tablet - 1) {
			padding-left: $gutter;
			padding-right: $gutter;
		}
		ul {
			padding-left: 0 !important;
			ul, ol {
				padding-left: 25px !important;
			}
		}
		li.show-hide-container {
			margin-bottom: 20px !important;
			&:last-child {
				margin-bottom: 0;
			}
			ul {
				li {
					list-style-type: auto;
				}
			}
		}
		.faqs {
			.col {
				&:first-child {
					@media screen and (max-width: $bp_tablet - 1) {
						margin-bottom: 20px !important;
					}
				}
			}
		}
		.show-hide:last-child {
		  margin-bottom: 20px !important;
		}
		.show-hide-content {
			.show-hide-actual-content {
				display: block;
				padding: 15px 0 0 38px !important;
			}
		}
		.footer {
			@media screen and (max-width: $bp_tablet - 1) {
				a {
					float: left !important;
					clear: both;
				}
			}
		}
	}
}

/* TYPOGRAPHY ***************************************************/

.faq-panel {

}
