/* STRUCTURE ***************************************************/

.featured-panel {
  &.first-on-page {
    //margin-top: -42px;
  }
  &.no-content {
    @media screen and (max-width: $bp_tablet - 1) {
      .featured-headline-container {
        padding-bottom: 30px;
        h2 {
          margin-bottom: 0 !important;
        }
      }
    }
  }
  .featured-image {
    background-color: $color_grey;
    line-height: 0;
    max-height: 417px;
    @media screen and (max-width: $bp_tablet - 1) {
      background-color: $color_green_medium;
    }
    @media screen and (min-width: 1440px) {
      overflow: hidden;
    }
    // IMG behavior is the same as footer image behavior
    img {
      position: relative;
      z-index: 0;
      width: 100%;
      height: auto;
      @media screen and (max-width: 650px) {
        min-height: 180px;
        min-width: 622px;
        margin-left: 50%;
        transform: translateX(-50%);
      }
      @media screen and (min-width: 1440px) {
        margin-left: 50%;
        transform: translateX(-50%);
      }
    }
    .featured-headline-container {
      position: absolute;
      bottom: 50px;
      margin-bottom: -13px;
      z-index: $z_overlay;
      width: 100%;
      display: block;
      /*
      @media screen and (max-width: $bp_tablet - 1) {
        padding-top: 30px;
      }
      */
      @media screen and (max-width: $bp_tablet - 1) {
        padding-top: 30px;
        padding-bottom:20px;
        margin-bottom: inherit;
        position: relative;
        bottom: auto;
        z-index: auto;
      }
      @media screen and (min-width: 1440px) {
        margin-bottom: 0;
      }
        .featured-headline {

        }
      }
    }
  .featured-columns-wrapper {
    background-color: $color_green_medium;
  }
  .featured-columns {
    @media screen and (max-width: $bp_tablet - 1) {
      padding-top: 10px;
      .featured-column:first-child {
        margin-bottom: 15px;
      }
    }
    .featured-column {
      p:last-child {
        margin-bottom: 0 !important;
      }
    }
  }
}

/* TYPOGRAPHY ***************************************************/

.featured-panel {
  .featured-headline {
    line-height: 1.2 !important;
  }
}
