.find-a-dealer {
  .container > .row {
    max-width: 610px;
    margin-left: auto;
    margin-right: auto;
  }
  .content-container {
    .headline {

    }
    .description {
      margin-top: 20px;
      margin-bottom: 0 !important;
    }
    .btn {
      margin-top: 26px;
    }
  }
  .find-a-dealer-form-panel {
    padding-bottom: 20px;
  }
  form {
    margin-top: 26px;
  }
  .col-l {
    @media screen and (min-width: $bp_tablet) {
      margin-bottom: 0 !important;
    }
  }
  .col-r {
    margin-bottom: 0 !important;
  }
}
