/* STRUCTURE ***************************************************/

.find-a-dealer-form {
	padding-bottom: 70px;
	h4 {
		margin-bottom: 30px !important;
	}
	.sod_select {
		max-width: 320px !important;
		@media screen and (max-width: $bp_tablet - 1) {
			max-width: 100%;
			clear: both;
			margin: 0 auto;
		}
	}
	.col-l {
		text-align: right;
		padding-right: 30px;
		padding-left: 30px;
		@media screen and (max-width: $bp_tablet - 1) {
			padding-right: 25px;
			padding-left: 25px;
			text-align: center;
		}
	}
	.col-r {
		text-align: left;
		padding-right: 30px;
		padding-left: 30px;
		@media screen and (max-width: $bp_tablet - 1) {
			padding-right: 25px;
			padding-left: 25px;
			text-align: center;
		}
	}
}


.combined-input {
	@extend .group;
		display: inline-block;
		button {
			&:focus, &:active {
				outline: 0;
			}
		}
	.combined-input-input {
		float: left;
		transition: none;
		max-width: 200px;
		position: relative;
		background-color: $color_green_very_dark;
		@extend .rounded;
		border-top-right-radius: 0 !important;
		border-bottom-right-radius: 0 !important;
		padding-right: 0 !important;
		color: $color_white;
		font-size: 14px;
		font-size: 1.4rem;
		font-weight: $weight_bold;
		letter-spacing: 1px;
		&:focus, &.filled {
			background-color: $color_white;
			color: $color_grey_very_dark;
			outline: 0;
			-webkit-box-shadow: none !important;
			-moz-box-shadow: none !important;
			box-shadow: none !important;
		}
		@media screen and (max-width: $bp_tablet) {
			margin: 0 auto;
		}
		&::-webkit-input-placeholder {
			color: $color_white;
			text-transform: uppercase;
		}

		&:-moz-placeholder { /* Firefox 18- */
			color: $color_white;
			opacity: 1;
			text-transform: uppercase;
		}

		&::-moz-placeholder {  /* Firefox 19+ */
			color: $color_white;
			opacity: 1;
			text-transform: uppercase;
		}

		&:-ms-input-placeholder {
			color: $color_white;
			text-transform: uppercase;
		}
	}
	.combined-input-button {
		@extend .rounded;
		float: left;

		font-family: $font_icon !important;
		display: inline-block !important;
		width: inherit;
		border-top-left-radius: 0 !important;
		border-bottom-left-radius: 0 !important;
		min-width: inherit !important;
		max-width: inherit !important;
		padding-left: 10px !important;
		padding-right: 13px !important;
		margin-top: 0;
		background-color: $color_green_very_dark;


		color: $color_white !important;
		font-weight: $weight_semi;
		z-index: $z_overlay;
		font-size: 16px;
		font-size: 1.6rem;
		line-height: 0.5 !important;

		transition: inherit;
		i {
			color: $color_white;
		}

		&:hover, &:active {
			background-color: darken($color_green_very_dark, 10%);
			//color: #b9b3b0 !important;
		}
	}
}

/* TYPOGRAPHY ***************************************************/

.find-a-dealer-form {
	.sod_select {
		font-size: 18px;
		font-size: 1.8rem;
	}
}
