/* STRUCTURE ***************************************************/

.footer-image {
  line-height: 0;
  //margin-top: 70px;  
  img {
    position: relative;
    z-index: 0;
    width: 100%;
    height: auto;
    @media screen and (max-width: $bp_tablet - 1) {
      min-height: 180px;
      min-width: 514px;
      margin-left: 50%;
      transform: translateX(-50%);
    }
  }
}
