/* STRUCTURE ***************************************************/

footer {
  padding: 50px 0 70px;
  .footer-social-links {
    a {
      margin-right: 22px;
      &:last-child {
        margin-right: 0;
      }
    }
  }
  .footer-email-link {
  }
  .footer-navigation {
    @media screen and (max-width: $bp_tablet - 1) {
      // border-bottom: 1px solid $color_white;
      margin-bottom: 30px;
    }
    .row {
      @media screen and (max-width: $bp_tablet - 1) {
        margin-bottom: 0px;
        .footer-col {
          display: none;
        }
      }
      &.first-row {
        @media screen and (max-width: $bp_tablet - 1) {
          .footer-col:first-child {
            display: block;
          }
        }
      }
      .footer-col {
        @media screen and (max-width: $bp_tablet - 1) {
          margin-bottom: 30px;
        }
        ul {
          padding: 0;
          margin: 0;
          li {
            padding: 0;
            margin: 0;
            display: inline-block;
            width: 100%;
            // Hide third level
            ul {
              display: none;
            }
          }
        }
      }
    }
  }
  .left-col-widgets {
  }
  .login-logout {
    @media screen and (max-width: $bp_tablet - 1) {
      padding-top: 0 !important;
      padding-bottom: 30px;
    }
    .btn {
      background-color: $color_green_medium !important;
      &:hover,
      &:active {
        background-color: $color_green_very_dark !important;
      }
    }
    .vendor-login {
      margin-left: 30px;
      @media screen and (max-width: 464px) {
        margin-left: 0;
      }
      @media screen and (max-width: 434px) {
        margin-top: 15px;
      }
    }
  }
  .right-col-widgets {
    padding-bottom: 30px;
    .footer-widget {
      h3 {
        margin-bottom: 20px;
        a {
          pointer-events: none;
          padding: 0;
          img {
            display: none;
          }
        }
      }
      ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        li {
          margin-bottom: 20px;
          a {
          }
        }
      }
    }
  }
  .footer-logo-holder {
    @media screen and (max-width: $bp_tablet - 1) {
      text-align: center;
    }
    /*
    .footer-logo {
      background: url("#{$img_dir}dw-world-logo-white.png") no-repeat;
      width: 135px;
      height: 135px;
      text-indent: -9999px;
      display: inline-block;
      margin-top: 25px;
      @include hr-image("#{$img_dir}dw-world-logo-white-2x.png", 135px, 135px);
      @media screen and (max-width: $bp_tablet - 1) {
        margin: 25px auto 0;
      }
    }
    */
  }
}

/* TYPOGRAPHY ***************************************************/

footer {
  color: $color_white;
  .footer-email-link {
    a {
      font-weight: $weight_bold;
      text-transform: uppercase;
      font-size: 13px;
      font-size: 1.3rem;
      line-height: 1.4;
      &:hover {
        text-decoration: underline;
      }
    }
  }
  .footer-social-links {
    a {
      font-size: 20px;
      font-size: 2rem;
    }
  }
  .footer-navigation {
    .row {
      .footer-col {
        font-size: 13px;
        font-size: 1.3rem;
        line-height: 1.4;
        strong {
          text-transform: uppercase;
        }
        ul {
          li {
            a:hover {
              text-decoration: underline;
            }
            a:active {
              font-weight: $weight_semi;
            }
          }
        }
        .textwidget {
          strong {
            a {
              color: $color_white;
              &:hover {
                text-decoration: underline;
              }
              &:active {
                font-weight: $weight_semi;
              }
            }
          }
          a {
            &:hover {
              text-decoration: underline;
            }
            &:active {
              font-weight: $weight_semi;
            }
          }
        }
      }
    }
  }
  .right-col-widgets {
    h5 {
      font-size: 24px;
      font-size: 2.4rem;
      text-transform: uppercase;
      font-weight: $weight_bold;
    }
    ul {
      li {
        font-weight: $weight_semi;
        a {
          &:hover,
          &:active {
            text-decoration: underline;
          }
        }
      }
    }
  }
  .copywrite {
    font-size: 11px;
    a {
      text-decoration: underline;
    }
  }
}
