form.wpcf7-form {
  input:not([type="submit"]),
  textarea {
    border: 1px solid $color_grey;
    padding: 3px 12px;
    margin-top: 6px;
    width: 100%;
    @media screen and (min-width: $bp_tablet) {
      max-width: 350px;
    }
  }
  input[type="submit"] {
    @extend .btn;
  }
}
