$upper_end_bp: 1101px;
$lower_end_bp: 1100px;

// ----------------------------------------------------------------------------
// Triggers
// ----------------------------------------------------------------------------

.menu-trigger:after {
  content: "";
  display: block;
  width: 45px;
  height: 45px;
  display: block;
  position: absolute;
  left: -12px;
  top: -12px;
}

a.reset-header-state:after,
.reset-header-state a:after {
  content: "";
  display: block;
  width: 45px;
  height: 45px;
  display: block;
  position: absolute;
  left: -18px;
  top: -17px;
}

/* STRUCTURE ***************************************************/

header {
  /* Header States */

  .main-header {
    transition: background-color 0.2s linear;
    &.state-green {
      background-color: $color_green_dark !important;
      color: $color_white;
      a {
        color: $color_white;
      }
    }
  }
  .header-state {
    display: none;
    @extend .group;
    float: right;
    padding-top: 20px;
    &.active {
      display: block;
    }
    .state-content {
      float: right;
      @extend .group;
      margin-top: -5px;
      display: block;
      font-size: 14px;
      font-size: 1.4rem;
      font-weight: $weight_bold;
      letter-spacing: 1px;
      text-transform: uppercase;
      @media screen and (max-width: $bp_tablet - 1) {
        width: 100%;
        float: none;
      }
      a.state-link {
        font-size: 14px;
        font-size: 1.4rem;
        text-transform: none;
        font-weight: $weight_regular;
        letter-spacing: 0;
        &:hover,
        &:active {
          text-decoration: underline;
        }
      }
      form {
        clear: none !important;
        float: right;
        display: inline-block;
        @media screen and (max-width: $bp_tablet - 1) {
          float: none;
        }
      }
      .nav-align {
        margin-top: 12px;
        float: right;
        clear: none;
        display: inline-block;
        width: auto;
        color: $color_white !important;
        &.reset-header-state-button {
          margin-top: 10px;
        }
        @media screen and (max-width: $bp_tablet - 1) {
          width: 100%;
          float: none;
          display: inline-block;
          margin: 0 auto !important;
        }
      }
    }
    &.header-state-nav {
      .main-nav-options {
        .nav {
          > * + * {
            margin-left: 35px !important;
            @media screen and (max-width: $bp_phone - 1) {
              margin-left: 0 !important;
            }
          }
        }
      }
    }
    &.header-state-site-search {
      @media screen and (max-width: $bp_tablet - 1) {
        display: none;
      }
    }
    &.header-state-zip-search {
      form {
        margin: 0 25px 0 25px;
      }
      @media screen and (max-width: $bp_tablet) {
        width: 100%;
        float: none !important;
        //	display: block;
        text-align: center;
        padding-top: 0;
        .state-content {
          width: 100%;
          float: none;
          display: flex;
          -webkit-flex-flow: column;
          flex-direction: column;
          form {
            -webkit-order: 2;
            order: 2;
            margin: 0 auto;
            padding-bottom: 25px;
            text-align: center;
            .input-holder {
              display: inline-block;
              margin: 0 auto;
            }
          }
          .reset-header-state-button {
            position: absolute;
            right: 0px;
            //top: -7px;
            top: 23px;
            width: auto;
            display: inline-block;
            z-index: $z_overlay;
          }
          .find-a-dealer-text {
            -webkit-order: 1;
            order: 1;
            padding: 53px 0 30px;
          }
          .state-link-link {
            -webkit-order: 3;
            order: 3;
            padding-bottom: 25px;
          }
        }
      }
    }
    .reset-header-state {
      margin-left: 45px;
      font-weight: $weight_semi;
      font-size: 10px;
      font-size: 1rem;
    }
  }

  &.scroll-header {
    .site-search {
      //vertical-align:top;
    }
    .find-a-dealer {
      //vertical-align: -12px !important;
    }
    .header-state {
      display: none;
      padding-top: 0px;
      @extend .group;
      &.active {
        display: block;
      }
      .state-content {
        padding-top: 10px;
        margin-top: 0;
      }
      &.header-state-nav {
      }
      &.header-state-site-search {
      }
      &.header-state-zip-search {
        @media screen and (max-width: $bp_tablet) {
          .state-content {
            .reset-header-state-button {
              top: 15px;
            }
          }
        }
      }
      .reset-header-state {
      }
    }
  }
}

/* DROPDOWN *********************** */

.dropdown-menu {
  margin-top: 15px;
  min-width: 250px;
  padding: 0;
  margin-left: -17px;
  @media screen and (max-width: $bp_desktop_m - 1) {
    min-width: inherit;
    width: 100%;
  }
  li {
    border-bottom: 1px solid $color_white_a;
    width: 100%;
    &:last-child {
      border: 0;
    }
    &.open {
      a {
        text-decoration: none;
        &:active {
          text-decoration: none !important;
        }
        &:hover {
          text-decoration: none !important;
        }
      }
    }
    a {
      min-height: 60px;
      padding: 24px 20px 25px 20px !important;
      display: block;
      width: 100%;
      background-color: $color_green_dark_a;
      &:hover {
        background-color: $color_green_a;
      }
    }
  }
}

/* LOGGED IN HEADER CONFIG */

.logged-in {
  header {
    .menu-trigger {
      @media screen and (max-width: 1150px) {
        display: block;
      }
      @media screen and (min-width: 1151px) {
        display: none;
      }
    }
    .header-state-nav {
      @extend .group;
      #header-state-main-nav {
        @media screen and (max-width: 1150px) {
          display: none;
        }
        @media screen and (min-width: 1151px) {
          display: block;
        }
      }
    }
    .main-nav-options {
      @media screen and (max-width: 1150px) {
        //top: -6px;
      }
    }
    li.find-a-dealer-trig {
      @media screen and (max-width: 1150px) {
        //margin-right: 25px !important;
      }
    }
    &.scroll-header {
      li.find-a-dealer-trig {
        @media screen and (max-width: 1150px) {
          a {
            //top: -19px;
          }
        }
      }
    }
  }
}

/* SCROLL HEAD *********************** */

header.scroll-header {
  .main-header {
    padding-top: 0;
    min-height: $scroll_header_height;
    background-color: $color_green_dark_a;
    @media screen and (max-width: $bp_tablet - 1) {
      min-height: $scroll_header_height_phone;
    }
    nav {
      top: 20px;
      &.main-nav-options {
        @media screen and (max-width: $bp_tablet - 1) {
          top: 15px !important;
        }
      }
    }
  }
  .menu-trigger {
    top: 0px;
  }
  .dropdown-menu {
    margin-top: 33px;
  }
  li.find-a-dealer-trig {
    a {
      //top: -19px;
      background-color: $color_green_medium !important;
      &:hover,
      &:active {
        background-color: $color_green_very_dark !important;
      }
      @media screen and (min-width: $upper_end_bp) {
        //top: -13px;
      }
    }
  }
}

/* JPANEL MENU *********************** */

// Turn the header background color opaque when the nav is open and you have scrolled down from the top
body[data-menu-position="open"] {
  .jPanelMenu-panel {
    header.scroll-header {
      .main-header {
        background-color: $color_green_dark !important;
      }
    }
  }
  &.scroll-body {
    .logo-small {
      top: 12px !important;
    }
  }
}

.scroll-body {
  #jPanelMenu-menu {
    ul {
      @media screen and (max-width: $bp_desktop_m - 1) {
        border-top: 1px solid $color_white_a_50;
      }
    }
    a.find-a-dealer {
      top: 0px;
    }
    .reset-header-state {
      top: 25px;
      @media screen and (max-width: $bp_tablet - 1) {
        top: 20px;
      }
    }
    .site-search {
      top: 20px !important;
      right: 77.6px !important;
    }
  }
}

.touch #jPanelMenu-menu {
  ul {
    li {
      a {
        &:hover {
          text-decoration: none !important;
        }
        &:active {
          background-color: $color_green !important;
        }
      }
    }
  }
}

#jPanelMenu-menu {
  background-color: $color_green_dark;
  height: auto !important;
  text-align: center;
  //min-width: 230px !important;
  width: 420px !important;
  @media screen and (max-width: $bp_tablet - 1) {
  }
  /*
	@media screen and (min-width: $bp_desktop_m) {
		display: none !important;
	}
	*/
  ul {
    text-align: left;
    border-top: 1px solid $color_white_a_50;
    li {
      border-bottom: 1px solid $color_white_a_50;
      width: 100%;
      &:last-child {
        border: 0;
        @media screen and (max-width: $bp_desktop_m - 1) {
          border-bottom: 1px solid $color_white_a_50;
        }
      }
      .caret {
        position: absolute;
        right: 25px;
        top: 27px;
        border-width: 5px;
      }
      &.open {
        .caret {
          transform: rotate(180deg);
        }
      }
      a {
        min-height: 50px;
        padding: 20px 20px 20px 20px !important;
        display: block;
        width: 100%;
        //background-color: $color_green_dark_a;
        &:hover {
          //background-color: $color_green_a;
          text-decoration: underline;
        }
        &:active {
        }
      }
      .dropdown-menu {
        position: relative;
        float: none;
        top: auto;
        left: auto;
        box-shadow: none;
        margin-top: 0;
        padding-top: 10px;
        padding-bottom: 10px;
        margin-left: 0;
        background-color: $color_green;
        border-top: 0 !important;
        li {
          border: 0;
          &:last-child {
            //border-bottom: 1px solid $color_white;
          }
          a {
            background-color: $color_green;
            min-height: inherit;
            padding: 12px 20px 11px 20px !important;
            &:hover {
              text-decoration: underline;
            }
          }
        }
      }
    }
  }
  form.sitesearch {
    display: none;
    @media screen and (max-width: $bp_tablet - 1) {
      display: inline-block;
      padding-top: 20px;
      margin: 0 auto 16px;
    }
  }
  a.find-a-dealer {
    //display: none !important;
    @extend .btn;
    //@extend .no-min;
    min-width: inherit !important;
    overflow: visible !important;
    padding-top: 3px;
    //vertical-align: -14px;
    font-size: 14px;
    font-size: 1.4rem;
    margin-top: 9px;
    margin-bottom: 20px;
    background-color: $color_green_medium !important;
    position: absolute;
    //top: 18px;
    top: 15px;
    right: 75px;
    &:hover,
    &:active {
      background-color: $color_green_very_dark !important;
    }
    @media screen and (max-width: $bp_tablet - 1) {
      position: relative;
      top: -4px;
      right: auto;
      display: inline-block !important;
      min-width: 190px !important;
    }
  }
  .reset-header-state {
    position: absolute;
    right: $gutter;
    color: $color_white !important;
    font-weight: $weight_semi;
    font-size: 10px;
    font-size: 1rem;
    top: 43px;
    //top: 38px;
    @media screen and (max-width: $bp_tablet - 1) {
      top: 32px;
    }
    &:hover {
      color: $color_white !important;
      text-decoration: none !important;
    }
    &:active {
      color: $color_white !important;
      text-decoration: none !important;
    }
  }
  a.site-search {
    color: $color_white;
    font-size: 17px !important;
    font-size: 1.7rem !important;
    position: absolute;

    top: 40px !important;
    right: 77.6px !important;

    @media screen and (max-width: $bp_tablet - 1) {
      display: none;
    }
    &:hover {
      color: $color_white !important;
      text-decoration: none !important;
    }
    &:active {
      color: $color_white !important;
      text-decoration: none !important;
    }
  }
}

.main-content-find-a-dealer-button {
  display: none;
  padding: 0 0 25px;
  .find-a-dealer {
    @extend .btn;
    display: inline-block !important;
    overflow: visible !important;
    padding-top: 3px;
    //vertical-align: -14px;
    background-color: $color_green_dark !important;
    font-size: 14px;
    font-size: 1.4rem;
    letter-spacing: 0;
    &:hover,
    &:active {
      background-color: $color_green !important;
    }
  }
  @media screen and (max-width: $bp_tablet - 1) {
    display: block;
  }
}

// REGULAR HEADER POSITIONING
header {
  .main-nav-options {
    width: 195px;
    top: -6px;
    li.site-search {
      position: absolute;
      top: 10px;
      right: 152px;
    }
    li.find-a-dealer-trig {
      margin-right: 0 !important;
      position: absolute;
      top: 0px;
      right: 0px;
    }
    li.menu-trig {
      .menu-trigger {
        margin: 0 !important;
        position: relative !important;
      }
    }
  }

  // REGULAR HEADER $lower_end_bp
  @media screen and (max-width: $lower_end_bp) {
    .main-nav-options {
      width: 245px;
      top: -6px !important;
      li.site-search {
        top: 10px;
        right: 202px;
      }
      li.find-a-dealer-trig {
        margin-right: 0 !important;
        top: 0px;
        right: 50px;
      }
      li.menu-trig {
        position: absolute;
        top: 4px;
        right: 0;
      }
    }
  }

  @media screen and (max-width: $bp_tablet - 1) {
    .main-nav-options {
      width: auto;
      li.menu-trig {
        position: absolute;
        top: -1px !important;
        right: 0;
      }
    }
  } /*
		@media screen and (max-width: 520px - 1) {
			.main-nav-options {
				li.menu-trig {
					position: absolute;
					top: -26px !important;
					right: 0;
					}
				}
			}
			*/

  // SCROLL HEADER POSITIONING

  &.scroll-header {
    .main-nav-options {
      li.site-search {
        top: 1px;
        right: 152px;
      }
      li.find-a-dealer-trig {
        margin-right: 0 !important;
        top: -11px;
        right: 0px;
      }
      li.trigger {
        top: 10px;
        right: 0;
      }
    }
    // SCROLL HEADER $lower_end_bp
    @media screen and (max-width: $lower_end_bp) {
      .main-nav-options {
        top: 20px !important;
        li.site-search {
          top: 0px;
          right: 202.5px;
        }
        li.find-a-dealer-trig {
          margin-right: 0 !important;
          top: -11px;
          right: 50px;
        }
        li.menu-trig {
          position: absolute;
          top: -1px;
          right: 0;
        }
      }
    }
    @media screen and (max-width: $bp_tablet - 1) {
      .main-nav-options {
        li.menu-trig {
          position: absolute;
          top: 1px !important;
          right: 0;
        }
      }
    }
  }
}

// LOGGED IN HEADER POSITIONING STYLES

.logged-in {
  // REGULAR HEADER POSITIONING
  header {
    .main-nav-options {
      width: 195px;
      top: -6px;
      li.site-search {
        position: absolute;
        top: 10px;
        right: 152px;
      }
      li.find-a-dealer-trig {
        margin-right: 0 !important;
        position: absolute;
        top: 0px;
        right: 0px;
        a {
          margin: 0 !important;
        }
      }
      li.menu-trig {
        .menu-trigger {
          margin: 0 !important;
          position: relative !important;
        }
      }
    }

    // REGULAR HEADER $lower_end_bp
    @media screen and (max-width: 1150px) {
      .main-nav-options {
        width: 245px;
        top: -6px !important;
        li.site-search {
          top: 10px;
          right: 202px;
        }
        li.find-a-dealer-trig {
          margin-right: 0 !important;
          top: 0px;
          right: 50px;
        }
        li.menu-trig {
          position: absolute;
          top: 4px;
          right: 0;
        }
      }
    }

    @media screen and (max-width: $bp_tablet - 1) {
      .main-nav-options {
        width: auto;
        li.menu-trig {
          position: absolute;
          top: -1px !important;
          right: 0;
        }
      }
    }
    /*
		@media screen and (max-width: 520px - 1) {
			.main-nav-options {
				li.menu-trig {
					position: absolute;
					top: -26px !important;
					right: 0;
					}
				}
			}
			*/

    // SCROLL HEADER POSITIONING

    &.scroll-header {
      .main-nav-options {
        li.site-search {
          top: 1px;
          right: 152px;
        }
        li.find-a-dealer-trig {
          margin-right: 0 !important;
          top: -11px;
          right: 0px;
        }
        li.trigger {
          top: 10px;
          right: 0;
        }
      }
      // SCROLL HEADER $lower_end_bp
      @media screen and (max-width: 1150px) {
        .main-nav-options {
          top: 20px !important;
          li.site-search {
            top: 0px;
            right: 202.5px;
          }
          li.find-a-dealer-trig {
            margin-right: 0 !important;
            margin: 0 !important;
            top: -11px;
            right: 50px;
          }
          li.menu-trig {
            position: absolute;
            top: -1px;
            right: 0;
          }
        }
      }
      @media screen and (max-width: $bp_tablet - 1) {
        .main-nav-options {
          li.menu-trig {
            position: absolute;
            top: 1px;
            right: 0;
          }
        }
      }
    }
  }
}

/* JPANEL MENU TYPOGRAPHY *********************** */

#jPanelMenu-menu {
  .nav {
    a {
      font-size: 14px;
      font-size: 1.4rem;
      font-weight: $weight_bold;
      text-transform: uppercase;
      color: $color_white;
      letter-spacing: 1px;
    }
  }
}

// Responsive nav header logo
#jPanelMenu-menu {
  a.logo-svg {
    display: inline-block;
    position: absolute;
    left: $gutter;
    top: $gutter;
    @media screen and (min-width: $bp_tablet) {
      display: none;
    }
    svg {
      width: 148px;
      height: 20px;
      display: none;
      path {
        fill: $color_white;
      }
    }
  }
}

body.scroll-body {
  #jPanelMenu-menu {
    a.logo-svg {
      top: 18px;
    }
  }
}
