// ----------------------------------------------------------------------------
// base
// ----------------------------------------------------------------------------

.hero {
  > ul {
    list-style-type: none;
    margin: 0 !important;
    padding: 0 !important;
    img {
      animation: fadein 0.4s;
    }
  }
}

/* STRUCTURE ***************************************************/

.hero {
  .slider,
  .single-image-slider {
    overflow: hidden;
    line-height: 0;
    background-color: $color_grey_light;
    padding-left: 0 !important;
    // PRODUCT SLIDER ****************************************************** /
    &.product-slider {
      list-style-type: none;
      margin: 0;
      padding: 0;
      display: block;
      li {
        margin-bottom: 0 !important;
        max-height: 504px;
        min-height: 180px !important;
        @media screen and (max-width: 512px) {
          height: 180px !important;
          overflow: hidden;
        }
        @media screen and (min-width: 1440px) {
          overflow: hidden;
        }
        .slide-copy-container {
          top: 50% !important;
          @media screen and (min-width: 1440px) {
            top: 300px !important;
          }
        }
        img {
          width: 100%;
          height: auto;
          @media screen and (max-width: 512px) {
            min-height: 180px;
            min-width: 514px;
            margin-left: 50%;
            transform: translateX(-50%);
          }
        }
      }
    }

    // PRODUCT New SLIDER ****************************************************** /
    // 1x - 1440 x 642
    // 2x - 2880 x 1284
    // $max_height: 642px;
    // $max_width: 1440px;

    &.product-new-slider {
      li {
        margin-bottom: 0 !important;
        max-height: 642px;
        min-height: 180px !important;
        @media screen and (max-width: 404px) {
          overflow: hidden;
        }
        @media screen and (min-width: 1440px) {
          overflow: hidden;
        }
        .slide-container {
          overflow: hidden;
          .slide-copy-container {
            position: absolute !important;
            right: 0;
            bottom: 0;
            left: 0;
            top: 0 !important;
            height: 100%;
            width: 100%;
            max-height: 642px;

            display: flex !important;
            flex-direction: column;
            justify-content: center;

            @media screen and (min-width: 1440px) {
              top: 0 !important;
            }
            .slide-copy {
              width: 100%;
              text-align: center;
              * {
                display: block;
                margin: 0 auto;
                text-align: center;
                float: none;
              }
            }
          }
        }
        img {
          width: 100%;
          height: auto;
          @media screen and (max-width: 404px) {
            min-height: 180px;
            min-width: 404px;
            margin-left: 50%;
            transform: translateX(-50%);
          }
        }
      }
    }
    // HOME SLIDER ********************************************************** /
    &.home-slider {
      li {
        max-height: 575px;
        min-height: 440px !important;
        margin-bottom: 0 !important;
        @media screen and (max-width: 1102px) {
          height: 440px !important;
          min-height: 440px !important;
          overflow: hidden;
        }
        @media screen and (min-width: 1440px) {
          overflow: hidden;
        }
        img {
          width: 100%;
          height: auto;
          min-height: 440px;
          @media screen and (max-width: 1102px) {
            min-height: 440px;
            min-width: 1102px;
            margin-left: 50%;
            transform: translateX(-50%);
          }
        }
        .slide-copy-container {
        }
      }
    }

    li {
      //display: none;
      margin-bottom: 0 !important;
      &:first-child {
        display: block;
      }
      a,
      .slide-container {
        display: block;
        @extend .group;
        .slide-copy {
          @extend .container;
          @extend .group;
          margin: 0 auto !important;
          h1,
          h5,
          h6 {
            display: inline-block;
            float: left;
            clear: both;
          }
          @media screen and (max-width: $bp_tablet - 1) {
            h1 {
              margin-top: 10px;
            }
          }
        }
        .slide-copy-container {
          top: inherit !important;
          bottom: 40px;
          position: absolute;
          z-index: $z_overlay;
          width: 100%;
          display: block;
          @media screen and (max-width: $bp_tablet - 1) {
            //top: inherit !important;
            //bottom:40px !important;
          }
          @media screen and (min-width: 1440px) {
            top: 250px + 85px !important;
          }
        }
      }
    }
  }

  .slider-nav-container {
    @media screen and (max-width: $bp_tablet - 1) {
      display: none;
    }
    .slider-nav {
      position: absolute;
      display: block;
      right: $gutter;
      bottom: 50px;
      background-color: $color_white;
      height: 41px;
      width: 100px;
      border-radius: 22px;
      z-index: $z_overlay;
      #slider-nav-prev {
        position: absolute;
        display: block;
        top: 4px;
        left: 10px;
        &:hover {
          cursor: pointer;
        }
        a {
          &:hover {
            text-decoration: none !important;
          }
        }
      }
      #slider-nav-next {
        position: absolute;
        display: block;
        top: 4px;
        right: 10px;
        &:hover {
          cursor: pointer;
        }
        a {
          &:hover {
            text-decoration: none !important;
          }
        }
      }
    }
  }
}

.sub-page {
  .hero {
    margin-bottom: 30px;
  }
}

.footer-image {
  img {
    position: relative;
    z-index: 0;
    width: 100%;
    height: auto;
    @media screen and (max-width: $bp_tablet - 1) {
      min-height: 180px;
      min-width: 514px;
      margin-left: 50%;
      transform: translateX(-50%);
    }
  }
}
body[data-menu-position="open"] {
  .footer-image {
    img {
      margin-left: 0;
      transform: translateX(0);
    }
  }
}

/* TYPOGRAPHY *************************************************/

.hero {
  .slider,
  .single-image-slider {
    line-height: 0;
    li {
      line-height: 0 !important;
      a,
      .slide-container {
        .slide-copy {
          color: $color_white;
          text-decoration: none;
          h5.hero,
          h1.fork {
            font-weight: $weight_black !important;
            letter-spacing: 1px !important;
            font-size: 42px !important;
            line-height: 40px !important;
            text-transform: none !important;
            @media screen and (min-width: $bp_tablet) {
              font-size: 80px !important;
              line-height: 80px !important;
            }
          }
          h1.hero {
            font-weight: $weight_semi !important;
            letter-spacing: 3px !important;
            font-size: 21px !important;
            letter-spacing: 1px !important;
            text-transform: uppercase;
            @media screen and (min-width: $bp_tablet) {
              font-size: 26px !important;
              letter-spacing: 2px !important;
              margin-top: 17px !important;
            }
          }
        }
      }
    }
  }
  .slider-nav {
    font-size: 30px;
    font-size: 3rem;
    a {
      color: $color_green_dark !important;
      &:hover,
      &:active {
        color: $color_orange !important;
      }
    }
  }
}

.intrinsic {
  z-index: 0;
  // Make sure <picture> wrapper is set to block
  // Max-width is governed by parentNode
  display: block;

  // Intrinsic Ratio Box
  position: relative;
  height: 0;
  width: 100%;
  padding-top: 100%; // Default to square

  /*
  &.intrinsic-hero {
    padding-top: instrinsic-ratio(490, 1440);
    min-height: 490px;
  }
	*/
  .intrinsic-item {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    @media screen and (max-width: 1440px - 1px) {
      //width: inherit;
      //height: inherit;
    }
  }
}

@keyframes fadein {
  0% {
    opacity: 0;
    display: none;
  }
  1% {
    opacity: 0;
    display: block;
  }
  100% {
    opacity: 1;
    display: block;
  }
}

.skrollable-hero {
  transform-origin: center top;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  will-change: transform;
  pointer-events: auto;
  picture {
    will-change: transform;
    pointer-events: auto;
    img {
      transform: translate3d(0, 0, 0);
      backface-visibility: hidden;
      will-change: transform;
      pointer-events: auto;
    }
  }
}

h5.hero-subhead {
  font-family: $font_script;
  font-size: 21px;
  line-height: 1.13;
  font-weight: $weight_bold;

  color: #ffffff;
  margin-top: 15px;
  @media screen and (min-width: $bp_tablet) {
    font-size: 32px;
    line-height: 1.13;
  }
}

h1.fork {
  display: flex !important;
  justify-content: center;
  align-items: center;
  > * {
    margin: 0 !important;
  }
  > * + * {
    margin-left: 14px !important;
  }
  @media screen and (max-width: $bp_tablet - 1) {
    svg {
      display: none !important;
    }
    > * + * {
      margin-left: 0 !important;
    }
  }
}

// ----------------------------------------------------------------------------
// Initial show/hide fix for slider
// ----------------------------------------------------------------------------

.slider {
  li {
    display: none;
  }
  li:first-child {
    display: block;
  }
  &.slick-initialized {
    li {
      display: block;
    }
  }
}
