/* STRUCTURE ***************************************************/

.multi-column-panel {
  @media screen and (max-width: $bp_tablet - 1) {
    padding-top: 30px !important;
  }
  .multi-column-heading {

  }
  .multi-column-content {
    @media screen and (max-width: $bp_tablet - 1) {
      padding-top: 30px !important;
    }
  }
  .multi-column-link {

  }
}

.cdbb-panel {
  display: none;
}

/* TYPOGRAPHY ***************************************************/

.multi-column-panel {
  .multi-column-heading {
    h2 {
      line-height: inherit !important;
    }
  }
  .multi-column-content {
    h3 {
      color: $color_green_dark;
    }
  }
  .multi-column-link {

  }
}
