/* STRUCTURE ***************************************************/

.home-features {
  padding:25px !important;
  @media screen and (min-width:599px) {
    padding:50px 0 !important;
  }
  .container { 
    text-align: center;
    @media screen and (max-width: 599px - 1px) {
      max-width: none;
      padding: 0;
    }
  }
  ul {
    margin: 0 auto;
    list-style: none;
    width: auto;
    padding-left: 0 !important;
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    @media screen and (min-width:599px) {
      flex-direction:row;
      justify-content:center;
    }
    li {
      margin-bottom: 0 !important;
      display: block;
      width: 100%;
      margin-left: 0 !important;
      margin-right: 0 !important;
      padding: 0 !important;
      @media screen and (min-width:599px) {
        max-width:324px;
      }
    }
    li + li {
      margin-top:25px !important;
      @media screen and (min-width:599px) {
        margin-left:27px !important;
        margin-top: 0!important;
      }
    }
  }
  // Feature image is 324 x 312
  .feature-image {
    display: block;
    @media screen and (max-width: 599px - 1px) {
      width: 105px;
      height: 100px;
      flex: 0 0 auto;
    }
    picture {
      @media screen and (min-width:599px) {
        position:relative;
        display:block;
        padding-top: (312px / 324px) * 100%;
        overflow: hidden;
      }
      img {
        width: 105px;
        height: 100px;
        flex: 0 0 none;
        @media screen and (min-width:599px) {
          width: 100%;
          height: auto;
          position:absolute;
          left:0;
          top:0;
        }
      }
    }
  }
  .feature-link {
    z-index: $z_overlay;

    background-color: transparentize($color_grey_very_dark, 0.14);
    @media screen and (max-width: 599px - 1px) {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 20px;
    }
    @media screen and (min-width: 599px) {
      margin-top: auto;
      position:absolute;
      bottom:0;
      width:100%;
      padding: 15px 15px 13px;
    }
    @media screen and (max-width: 599px - 1px) {
      br {
        display: none;
      }
    }
  }
  a {
    display:flex;
    flex-direction: row;
    width: 100%;
    @media screen and (min-width: 599px) {
      flex-direction: column;
      justify-content: flex-end;
    }
    &:hover {
      text-decoration: none !important;
      .feature-link {
        background-color: transparentize(#302E31, 0.14);
      }
    }
    &:active {
      text-decoration: none !important;
    }
  }
}

/* TYPOGRAPHY ***************************************************/

.home-features {
  h5 {
    text-transform: uppercase;
    letter-spacing:2px;
    font-size:16px;
    font-weight:$weight_regular;
    @media screen and (min-width: $bp_phone) {
      font-size: 18px;
      letter-spacing: 2.3px;
    }
  }
  ul {
    li {
      line-height: 0 !important;
    }
  }
  .feature-link {
    text-align: center;
    color: $color_white;
    line-height: 1.2;
    @media screen and (max-width: 599px - 1px) {
      text-align: left;
    }
  }
}
