/* LOCAL VARS **************************************************/

$image_width: 738px;

/* STRUCTURE ***************************************************/

.image-nav-panel {
  .container {
    max-width: 1200px;
  }
  .image-nav-header {
    .headline {

    }
    .subhead {

    }
  }
  .image-nav-images {
    max-width: $image_width + ($gutter * 2);
    @media screen and (max-width: $bp_tablet - 1) {
      max-width: inherit;
    }
    .image {
      margin: 0 auto;
      max-width: $image_width;
      &.active {
        picture, img {
          display: block;
        }
      }
      picture, img {
        width: 100%;
        height: auto;
        display: none;
      }
    }
  }
  .image-nav-links {
    .image-links-container {
			@media screen and (max-width: $bp_tablet - 1) {
				width: 100%;
				display: block;
				text-align: center;
			}
      .image-links-title {
        margin-bottom: 30px;
        @media screen and (max-width: $bp_tablet - 1) {
          text-align: left;
          hr {
            width: 65%;
            margin-left: inherit;
            margin-right: inherit;
            float: left;
            margin-bottom: 30px;
          }
        }
      }
      .image-link {
        cursor: pointer;
        margin-bottom: 20px;
        &:last-child {
          margin-bottom: 0;
        }
  			@media screen and (max-width: $bp_tablet - 1) {
  				margin-bottom: 30px;
          text-align: left;
          float: left;
          clear: both;
          &:last-child {
            margin-bottom: 0;
          }
  			}
      }
    }
  }
}

/* TYPOGRAPHY ***************************************************/

.image-nav-panel {
  .image-nav-header {
    .headline {
      h2 {
        color: $color_white !important;
      }
    }
    .subhead {
      color: $color_white !important;
    }
  }
  .image-nav-links {
    .image-links-container {
      .image-link {
          &:hover {
            text-decoration: none;
          }
          .subhead {
            color: $color_white !important;
            &:hover {
              font-weight: $weight_semi;
            }
          }
          &.active {
            font-weight: $weight_semi;
            .subhead {
              font-weight: $weight_semi;
            }
          }
        }
      }
    }
  }
