/* STRUCTURE ***************************************************/

.info-table-panel {
	&.singletab {
		.info-tab {
			cursor: inherit !important;
			.triangle {
				display: none !important;
			}
		}
	}
}

.info-table {
	//margin-bottom: 70px;
	.info-tabs {
    padding-bottom: 2px;
    @media screen and (max-width: $bp_tablet - 1) {
      padding-bottom: 0;
    }
    .info-tab {
      display: inline-block;
      background-color: $color_tan;
      float: left;
      padding: 25px;
      margin-right: 2px;
      cursor: pointer;
      max-width: 50%;
      overflow: hidden;
      opacity: 0.6;
      -webkit-transition: all .15s linear;
    	   -moz-transition: all .15s linear;
    	    -ms-transition: all .15s linear;
    	     -o-transition: all .15s linear;
    	        transition: all .15s linear;
			&:hover,
			&:active {
				//background-color: darken($color_tan, 5%);
			}
			.triangle {
				width: 9px;
				height: 12px;
				&:after {
					-ms-transform-origin:top left;
					-webkit-transform-origin:top left;
					transform-origin:top left;
					-ms-transform: rotate(45deg);
					-webkit-transform: rotate(45deg);
					transform: rotate(45deg);
				}
			}
      &.active {
        opacity: 1;
				cursor: inherit !important;
				&:hover,
				&:active {
					background-color: $color_tan;
				}
        .triangle {
					//display: none;
					width: 12px;
					height: 9px;
          //top: 25px;
					&:after {
						-ms-transform-origin:top left;
						-webkit-transform-origin:top left;
						transform-origin:top left;
						-ms-transform: rotate(-45deg);
						-webkit-transform: rotate(-45deg);
						transform: rotate(-45deg);
						/*
						-ms-transform-origin:bottom left;
						-webkit-transform-origin:bottom left;
						transform-origin:bottom left;
						-ms-transform: rotate(45deg);
						-webkit-transform: rotate(45deg);
						transform: rotate(45deg);
						*/
					}

				}
      }
      &:last-child {
        margin-right: 0;
      }
      @media screen and (max-width: $bp_tablet - 1) {
        width: 100%;
        display: block;
        float: none;
        clear: both;
        margin-right: 0;
        border-bottom: 2px solid $color_white;
        max-width: none;
        opacity: 1;
        &:last-child {
          border: 0;
        }
      }
    }
		.info-tab-list {
			.info-list {
				float: left;
				clear: both;
				width: 100%;
			}
		}
	}
	.info-list {
    display: none;
    &.active {
      display: block;
    }
		.info-container {
			margin-bottom: 2px;
			&.open {
				.info-container-inner {
					background-color: lighten($color_tan, 2.5%);
				}
			}



			.info-container-inner {
				@extend .group;
				background-color: $color_tan;
				overflow: hidden;
				transition: all, 0.2s, ease-in;
				@media screen and (max-width: $bp_tablet - 1) {
					overflow: auto;
          background-color: $color_tan_a;
				}
			}
			.info-block {
				padding: 25px;
				border-right: 2px solid $color_white;
				margin-bottom: -20000px;
				padding-bottom: 20025px;
        &:last-child {
          border: 0;
        }
				@media screen and (max-width: $bp_desktop - 1) {
					width: 50% !important;
				}
				@media screen and (max-width: $bp_tablet - 1) {
					border: 0;
					width: 100% !important;
					margin-bottom: auto !important;
					margin-bottom: initial !important;
          padding: 25px 25px 10px !important;
				}
				p {
					margin-bottom: 0;
					vertical-align: top;
					&:last-child {
						margin-bottom: 0 !important;
					}
				}
				h4 {
					margin-bottom: 0;
					vertical-align: top;
				}
			}
			.info-title {
				@media screen and (max-width: $bp_tablet - 1) {
          padding-bottom: 0 !important;
				}
			}
			.info-description {
				@media screen and (max-width: $bp_tablet - 1) {
          padding-top: 0 !important;
				}
			}
		}
	}

  .triangle {
    display: none;
    position: absolute;
    right: 25px;
    top: 30px;
    content: ' ';
    overflow: hidden;
    z-index: $z_overlay;
    width: 12px;
    height: 9px;
    &:after {
      content: ' ';
      display: block;
      width: 100%;
	    height: 100%;
      background-color: $color_grey_very_dark;
      -ms-transform-origin:top left;
      -webkit-transform-origin:top left;
      transform-origin:top left;
      -ms-transform: rotate(-45deg);
      -webkit-transform: rotate(-45deg);
      transform: rotate(-45deg);
    }
    @media screen and (max-width: $bp_tablet - 1) {
      display: block;
    }
  }
}

/* TYPOGRAPHY ***************************************************/

.info-table {
  .info-tabs {
    .info-tab {
      text-transform: uppercase;
      font-size: 14px;
      font-size: 1.4rem;
      font-weight: $weight_bold;
			letter-spacing: 1px;
    }
	}
}
