/* STRUCTURE ***************************************************/

.info-table-new-panel {
	background-color:$color_white;
	&:after {
		background-color:$color_tan;
		content: "";
		position: absolute;
		top: -25px; right: 0; bottom: 0; left: 0;
		width: 100%;
		display: none;
		z-index: 0;
	}
	&:not(.is-active) {
		.info-tabs, .info-lists {
			display:none;
		}
	}
	&.is-active {
		&:after {
			background-color:$color_tan;
			display: block;
		}
	}
}

.info-table-new {
	//padding-top:25px;
	padding-bottom:70px;
	// Button
	.info-table-button {
		z-index:2;
	}
	// Tabs
	.info-tabs {
		max-width: 960px;
		z-index:2;
		padding-top: 40px;
		width: auto;
		margin: 0 auto;
		// col-sm-12
		> * {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			@media screen and (min-width:$bp_tablet) {
				flex-direction: row;
				//justify-content: space-between;
			}
			.info-tab {
				flex: 0 0 auto;
				font-size:14px;
				letter-spacing: 1px;
				text-transform: uppercase;
				font-weight:$weight_bold;
				&:hover,
				&:active,
				&.is-active {
					font-weight:$weight_bold !important;
					margin-bottom:-2px;
					text-decoration:none!important;
					color: $color_grey_very_dark!important;
					border-bottom:2px solid $color_grey_very_dark;
				}
			}
			.info-tab + .info-tab {
				margin-top: 20px;
				@media screen and (min-width:$bp_tablet) {
					margin-top: 0;
					margin-left:70px;
				}
			}
		}
	}
	// Tabs content
	.info-lists {
		max-width: 960px;
		margin-left: auto;
		margin-right: auto;
		z-index:2;
		padding-top: 40px;
		.info-list {
			display: none;
			flex-direction: column;
			@media screen and (min-width:$bp_tablet) {
				flex-direction: row;
				justify-content:space-between;
			}
			&.is-active {
				display:flex;
			}
			.info-list-column {
				width: 100%;
				@media screen and (min-width:$bp_tablet) {
					width: 50%;
					display:inline-block;
				}
			}
			.info-list-left {
				@media screen and (min-width:$bp_tablet) {
					margin-right: 20px;
				}
			}
			.info-list-right {
				@media screen and (min-width:$bp_tablet) {
					margin-left: 20px;
				}
			}
			.info-container {
				display: block;
				width: 100%;
				margin-top: 30px;
				.title {

				}
				.description {
					font-size:14px;
					line-height:18px;
					.description-excerpt {
						display: inline;
					}
					.description-full {
						display:none;
						&.is-active {
							display:inline;
						}
					}
				}
			}
		}
	}
}
