

/* Vars ------------------------------------------------------------------ */

$translate_y: 50px; // Amount modal moves up when it comes and goes
$gutter_width: 15px;
$bp_tablet: 768px;
$color_pink: #ff0000;
$z_background: 0;
$color_text: #2f2f2f;
$color_cream: #fff;
$easing_regular: cubic-bezier(0.23, 1, 0.32, 1);
$easing_outback: cubic-bezier(0.34, 1.56, 0.64, 1);
$easing_backout: cubic-bezier(0.36, 0, 0.66, -0.56);

/* Helpers ------------------------------------------------------------------ */

// Flex row
.r {
  width: 100%;
  display: flex;
  flex-direction: column;
  // Vertically align center
  &--halign-center {
    align-items: center;
  }
  &--halign-center-mobile {
    @media screen and (max-width: $bp_tablet - 1) {
      align-items: center !important;
    }
  }
  &--halign-right-desktop {
    @media screen and (min-width: $bp_tablet) {
      align-content: flex-end !important;
    }
  }
  &--valign-center {
    align-content: center;
  }
  // Horizontally align center
  &--justify-center {
    justify-content: center !important;
  }
  &--justify-end {
    justify-content: flex-end !important;
  }
  // Space each item evenly (horizontal)
  &--justify-space-between {
    justify-content: space-between !important;
  }
  &--justify-space-around {
    justify-content: space-around !important;
  }
  // row above desktop, use if you want a row but no gutters
  &--row-desktop {
    @media screen and (min-width: $bp_tablet) {
      flex-direction: row;
    }
  }
  &--row-tablet {
    @media screen and (min-width: $bp_phone) {
      flex-direction: row;
    }
  }
  &--row-always {
    flex-direction: row;
    @media screen and (min-width: $bp_tablet) {
      flex-direction: row;
    }
  }
}

.absolute-fill {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.v {
  &--50 {
    > * + * {
      margin-top: rem(50px);
    }
  }
  &--40 {
    > * + * {
      margin-top: rem(40px);
    }
  }
  &--30 {
    > * + * {
      margin-top: rem(30px);
    }
  }
  &--25 {
    > * + * {
      margin-top: rem(25px);
    }
  }
  &--20 {
    > * + * {
      margin-top: rem(20px);
    }
  }
  &--15 {
    > * + * {
      margin-top: rem(15px);
    }
  }
  &--10 {
    > * + * {
      margin-top: rem(10px);
    }
  }
  &--5 {
    > * + * {
      margin-top: rem(5px);
    }
  }
}

.btn--svg {
  background-color: transparent;
}

/* Structure ------------------------------------------------------------------ */

.modal {
  padding: rem(120px) rem($gutter_width) rem(120px) rem($gutter_width);
  position: fixed !important;
  height: 100vh;
  @media screen and (max-width: $bp_tablet - 1) {
    padding-top: rem($gutter_width + 30px);
  }
}
.modal__card {
  width: 100%;
}
.modal__close {
  position: absolute;
  top: 25px;
  right: 25px;
  cursor: pointer;
  &:before {
    position: absolute;
    content: "";
    left: -10px;
    top: -11px;
    width: 40px;
    height: 40px;
    border-radius: 40px;
  }
  svg {
    * {
      fill: $color_text;
    }
  }
  &:hover,
  &:focus {
    * {
      fill: $color_green !important;
    }
    &:before {
      background-color: transparentize($color_green, 0.8);
    }
  }
}
.modal__content {
}
.modal__content__image {
  line-height: 0;
}
.modal__content__text {
  color: $color_text;
}
.modal__footer {
  padding-left: rem(20px);
  padding-right: rem(20px);
  > * {
    margin-bottom: rem(20px);
  }
  > * + * {
    margin-top: rem(4px);
  }
}
.modal__background {
  background-color: #000;
  height: 100%;
  position: fixed !important;
}

/* = States & Transitions ================================================== */

.modal {
  pointer-events: none;
  z-index: $z_background;
  height: 100%;
}
.modal__card {
  opacity: 0;
  transition: transform 0.4s $easing_outback;
  transform: translateY($translate_y);
  //overflow: scroll;
  @media screen and (max-width: $bp_tablet - 1) {
    transform: translateY(100%);
  }
}
.modal__background {
  opacity: 0;
  transition: all 0.25s $easing_regular;
}
.modal {
  &.active {
    //height: 100%;
    //overflow: scroll;
    z-index: $z_top;
    pointer-events: inherit;
    .modal__card {
      opacity: 1;
      transform: translateY(0);
      z-index: 2;
    }
    .modal__close {
      z-index: 3;
    }
    .modal__background {
      opacity: 0.65;
      z-index: 1;
      transition: 0.35s all;
    }
  }
  &.leaving {
    pointer-events: none;
    .modal__card {
      opacity: 0;
      transition: all 0.35s $easing_backout;
      transform: translateY($translate_y);
      @media screen and (max-width: $bp_tablet - 1) {
        transform: translateY(100%);
      }
    }
    .modal__background {
      opacity: 0;
    }
    .vm__video-player__loading {
      opacity: 0;
    }
  }
}

.modal {
  &--has-image {
    .modal__close {
      svg {
        path {
          fill: $color_text !important;
        }
      }
    }
    .modal__content__text {
      padding-top: rem(30px);
    }
  }
  &--has-dark-image {
    .modal__close {
      svg {
        path {
          fill: $color_white !important;
        }
      }
    }
  }
}

/* Notice ------------------------------------------------------------------ */

.modal[data-additional-classes="notice"] {
  overflow: scroll;
  .modal__card {
    background-color: $color_cream;
    max-width: 460px;
    //overflow: scroll;
  }
  .modal__content__text {
    padding: 50px $gutter_width;
    max-width: 430px;
    margin: 0 auto;
    color: $color_text;
  }
}

// Loading -------------------------------------------------- //

.vm__video-player__loading {
  position: absolute !important;
  display: flex;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2;
  opacity: 0;
  justify-content: center;
  align-items: center;
  pointer-events: none;
  background-color: #000;
  transition: opacity 0.15s;
  svg {
    max-width: 30%;
    opacity: 0.2;
    fill: $color_white;
    * {
      fill: $color_white;
    }
  }
}
.unready {
  .vm__video-player__loading {
    opacity: 1;
    svg {
      animation: color-me-in 2s 0.15s infinite;
    }
  }
}
.ready {
  .vm__video-player__loading {
    opacity: 0;
  }
}

/* Other Element Considerations ------------------------------------------------------------------ */

[data-modal="active"] {
  height: 100%;
  position: fixed;
}

/* Animations ------------------------------------------------------------------ */

@keyframes color-me-in {
  0% {
    opacity: 0.2;
  }
  50% {
    opacity: 0.4;
  }
  100% {
    opacity: 0.2;
  }
}
