/* LOCAL VARS **************************************************/

$vid_width: 688px;
$vid_height: 387px;

/* STRUCTURE ***************************************************/

.other-video-panel {
	@media screen and (max-width: $bp_tablet - 1) {
		margin-bottom: 0;
	}
	.other-video-links {
		@media screen and (max-width: $bp_tablet - 1) {
			margin-top: 20px;
		}
	}
  .videos {
  	&:first-child {
  		margin-bottom: 0;
  	}
		@media screen and (max-width: $bp_tablet - 1) {
			.video-container:last-child {
				.video-link {
					margin-bottom: 0;
				}
			}
		}
  	iframe {
  		max-width: $vid_width;
  		width: 100%;
  		height: $vid_height;
  	}
  	.video-container {
  		margin-bottom: 20px;
			@media screen and (max-width: $bp_tablet - 1) {
				width: 100%;
				display: block;
				text-align: center;
			}
  		&:last-child {
  			margin-bottom: 0;
  		}
  		.video-link {
  			cursor: pointer;
  			@media screen and (max-width: $bp_tablet - 1) {
  				margin-bottom: 30px;
  			}
  		}
  		.video-embed {
  			display: none;
  		}
  	}
  }

  .video-player {
		margin-top: 0;
		padding: 0 !important;
  	.video-player-container {
			max-width: $vid_width !important;
  		background-color: $color_grey_light;
  		margin: 0 !important;
			margin-bottom: 0 !important;
			height: 0 !important;
			overflow: hidden !important;
			position: relative !important;
			padding-bottom: 56.25% !important;
			margin: 0 auto !important;
			iframe {
					position: absolute;
					top: 0;
					left: 0;
					width: 100%;
					height: 100%;
			}
  	}
  }

	.other-video-holder {
		&.single-video {
			.video-player {
				//max-height: $vid_height !important;
				max-width: $vid_width !important;
				width: 100%;
				height: 100%;
				display: block;
				margin: 0 auto;
				@media screen and (max-width: $bp_tablet - 1) {
					max-height: none !important;
				}
		  	.video-player-container {
		  		background-color: $color_grey_light;
		  		margin: 0 !important;
					margin-bottom: 0 !important;
					height: 0 !important;
					overflow: hidden !important;
					position: relative !important;
					padding-bottom: 56.25% !important;
					margin: 0 auto !important;
					iframe {
							position: absolute;
							top: 0;
							left: 0;
							width: 100%;
							height: 100%;
					}
		  	}
		  }
		}
	}
}

/* TYPOGRAPHY ***************************************************/

.other-video-panel {
  .videos {
  	.video-link {
			color: $color_orange !important;
			&:hover {
				//text-decoration: none;
			}
  		.subhead {
  			color: $color_orange !important;
				text-decoration: none !important;
				&:hover {
					color: $color_red !important;
				}
  		}
  		&.active {
  			text-decoration: none !important;
				color: $color_grey_very_dark !important;
  			.subhead {
  				color: $color_grey_very_dark !important;
  				text-decoration: none;
					&:hover {
						text-decoration: underline !important;
					}
  			}
  		}
  	}
  }
}
