/* STRUCTURE ***************************************************/

.photo-text-panel {
  line-height: 0;
  overflow: hidden;
  &.panel_small {
    .photo-text-panel-image {
      max-height: 528px;
    }
  }
  &.panel_large {
    .photo-text-panel-image {
      max-height: 648px;
    }
  }
  &.panel_left {
    .photo-text-panel-text-container {
      .container {
        @media screen and (min-width: $bp_desktop) {
          justify-content: flex-start;
        }
      }
    }
  }
  &.panel_right {
    .photo-text-panel-text-container {
      .container {
        @media screen and (min-width: $bp_desktop) {
          justify-content: flex-end;
        }
      }
    }
  }

  .photo-text-panel-image {
    z-index: $z_overlay;
    top: 0;
    position: relative;
    width: 100%;
    height: auto;
    img {
      width: 100%;
      height: auto;
      @media screen and (max-width: $bp_desktop - 1) {
        min-height: inherit;
      }
      @media screen and (max-width: $bp_tablet - 1) {
        min-height: 180px;
        min-width: 514px;
        margin-left: 50%;
  			transform: translateX(-50%);
  		}
    }
  }


  .photo-text-panel-text-container {
    z-index: $z_overlay + 1;
    width: 100%;
    @media screen and (min-width: $bp_desktop) {
      position: absolute;
      overflow: hidden;
      top: 0;
      left: 0;
      height: 100%;
      display: flex;
      align-items: center;
      align-content: stretch;
    }
    @media screen and (max-width: $bp_desktop - 1) {
      overflow: auto;
      position: relative;
      padding: 35px auto 35px;
      background-color: $color_tan;
    }
  }
  .container {
    @media screen and (min-width: $bp_desktop) {
      width: inherit;
      display: flex;
    }
  }
  .photo-text-panel-text {
    width: 50%;
    @media screen and (max-width: $bp_desktop - 1) {
      width: 100%;
    }
    .photo-text-panel-image-content {
      display: block;
      background-color: $color_white_a;
      padding: 35px 50px 35px;
      @media screen and (max-width: $bp_desktop - 1) {
        display: block;
        width: 100%;
        padding: 50px 0 35px 0;
        margin: 0 auto;
        background-color: transparent;
      }
      p:last-child {
        margin-bottom: 0 !important;
      }
    }
  }
}

/* TYPOGRAPHY ***************************************************/

.photo-text-panel {
  a {
    color: $color_orange;
  }
}
