/* STRUCTURE ***************************************************/

.product-content-panel {
	@extend .group;
	padding-bottom: 50px;
	.product-image {
		margin-top: 25px;
		margin-bottom: 25px;
		img {
			width: 100%;
			height: auto;
		}
	}
	.product-logo-container {
		//margin-top: -34px;
		@media screen and (max-width: $bp_tablet - 1) {
			margin-top: 15px;
		}
	}
	.product-logo {
		max-height: 34px;
		width: auto;
	}
	.product-main-info {
		vertical-align: bottom;
		height: 100%;
		position: relative;
		vertical-align: bottom;
		&.product-normal {

		}
		&.product-medium {
			min-height: 40px;
			margin-bottom: 0px;
			@media screen and (max-width: $bp_tablet - 1) {
				min-height: 0;
				margin-bottom: 0;
			}
		}
		&.product-large {
			min-height: 120px;
			margin-bottom: -47px;
			@media screen and (max-width: $bp_tablet - 1) {
				min-height: 0;
				margin-bottom: 0;
			}
		}
	}


	.product-sub-info {
		//margin-top: 25px;
		//margin-bottom: 70px;
		img {
			@media screen and (max-width: $bp_phone) {
				display: block;
				float: none;
				clear: both;
				margin-left: 0;
				margin-right: 0;
			}
		}
		ul.paragraph-list {
			padding-left: 0 !important;
			margin-left: 0 !important;
		}
	}

  .product-models-content {
    .product-model {
      @media screen and (max-width: $bp_tablet - 1) {
        margin-bottom: 50px;
      }
      img, picture {
				margin: 0 auto 30px;
				display: block;
      }
    }
  }
}

/* TYPOGRAPHY ***************************************************/

.product-content-panel {
	.product-main-info {

	}
	.product-sub-info {

	}
}
