.product-hero-new {
  .image-container {
    overflow: hidden;
  }
  .content-container {
    text-align: center;
    padding-top: 40px;
    padding-bottom:45px;
    padding-left: 25px;
    padding-right: 25px;
    @media screen and (min-width:$bp_tablet) {
      text-align: left;
      position:absolute;
      top:0;
      right:0;
      bottom:0;
      left:0;
      width:100%;
      height:100%;
      padding-top: 84px;
      padding-left: 50px;
      > * {
        max-width:600px;
      }
    }
    h6.romance {
      @media screen and (max-width:$bp_tablet - 1) {
        color: $color_grey_very_dark !important;
      }
    }
  }
}




/************************************************************************/
// 1x - 1440 x 772
// 2x - 2880 x 1544
$max_height: 772px;
$max_width: 1440px;
$min_width: 320px;
$min_height: 171px;

.product-hero-new {
  .image-container {
    max-height: $max_height;
    // When the image reaches max height have it overflow it's container
    @media screen and (min-width: $min_width) {
      overflow: hidden;
    }
    // Set the max height for the image container when it is below tablet width
    @media screen and (max-width: $bp_tablet - 1) {
      max-height: $max_height;
    }
  }
  picture,
  img {
    // Above the image's max height, have it scale up
    @media screen and (min-width: $min_width) {
      width: 100%;
      height: auto;
    }
    // Below the image's min width, have it crop to the left
    @media screen and (max-width: $min_width - 1) {
      // Comment below two inherits out to have the image scale completely
      // Otherwise it will retain it's max height
      width: $min_width;
      height: auto;
      margin-left: 50%;
      transform: translateX(-50%);
    }
  }
}
