/* STRUCTURE ***************************************************/

.ribbon-panel {
  .row {
    display: table;
    vertical-align: middle;
    @media screen and (max-width: $bp_tablet - 1) {
      display: block;
    }
  }
  .ribbon-panel-image {
    display: table-cell;
    vertical-align: middle;
    //padding-right: 50px;
    img {
      max-width: 150px;
      min-width: 150px;
      height: auto;
    }
    @media screen and (max-width: $bp_tablet - 1) {
      //padding: 0;
      display: block;
      text-align: center;
      padding-bottom: 30px;
    }
  }
  .ribbon-panel-text {
    display: table-cell;
    vertical-align: middle;
    //padding-left: 50px;
    padding-right: 110px;
    float: none;
    @media screen and (max-width: 1120px) {
      padding-right: 65px;
    }
    @media screen and (max-width: $bp_tablet - 1) {
      display: block;
      //padding-left: $gutter;
      padding-right: $gutter;
    }
    p {
      &:last-child {
        margin-bottom: 0 !important;
      }
    }
  }
}

/* TYPOGRAPHY ***************************************************/

.ribbon-panel {
  .ribbon-panel-text {
    font-size: 18px;
    font-size: 1.8rem;
  }
  &.panel-green-dark {
    .ribbon-panel-text {
      p {
        a {
          text-decoration: underline !important;
          &:active {
            font-weight: $weight_semi;
          }
        }
      }
    }
  }
  &.panel-tan,
  &.panel-white {
    .ribbon-panel-text {
      p {
        a {
          text-decoration: none !important;
          &:hover {
            text-decoration: underline !important;;
          }
          &:active {
            font-weight: $weight_semi;
          }
        }
      }
    }
  }
}
