.social-share-nav {
  width: 100%;
  margin-top: 20px !important;
}

.social-share-nav__items {
  display: flex;
  align-items: center;
  margin-bottom: 0;
  > * + * {
    margin-left: 10px;
  }
  a {
    // The envelope icon
    svg {
      fill: $color_white;
      width: 16px;
      height: 16px;
      margin: 2px 0 0 5px;
    }
  }
}
