/* STRUCTURE ***************************************************/

.showhides-panel {
	//margin-bottom: 50px;
	margin-bottom: 70px;
	@extend .group;
}
.show-hide {
	@media screen and (max-width: $bp_tablet - 1) {
		margin-bottom: 0;
		&:first-child {
			margin-bottom: 30px;
		}
	}
}

ul.show-hide {
	margin-left: 0 !important;
	margin-bottom: 0 !important;
	padding-left: 0 !important;
	li.show-hide-container {
		@extend .group;
		display: block;
		margin-bottom: 30px !important;
		background: url('#{$img_dir}dwtp-plus-1x.png') no-repeat left top;
		@include hr-image("#{$img_dir}dwtp-plus-2x.png", 23px, 23px);
		padding-left: 33px;
		min-height: 25px;
		&:hover {
			cursor: pointer;
		}
		&:last-child {
			margin-bottom: 0 !important;
		}
		.show-hide-heading {
			cursor: pointer;
			float: left;
			clear: both;
			display: block;
			width: 100%;
			&:before {
				display: none !important;
			}
		}
		&.open {
			background: url('#{$img_dir}dwtp-minus-1x.png') no-repeat left top;
			@include hr-image("#{$img_dir}dwtp-minus-2x.png", 23px, 23px);
		}
		.show-hide-content {
			float: left;
			@extend .group;
			.show-hide-actual-content {
				display: block;
				padding: 20px 0 0 2px !important;
				&:hover {
					cursor: auto !important;
				}
				p:hover, ul:hover, ol:hover {
					cursor: auto !important;
				}
				ol, ul {
					margin-left: 25px;
					margin-bottom: 20px;
					li {
						list-style-type: auto;
					}
				}
			}
		}
	}
}

/* TYPOGRAPHY ***************************************************/

.show-hide {
	.show-hide-container {
		.show-hide-heading {
			.subhead {
				color: $color_green_dark !important;
			}
		}
		.show-hide-content {
			.show-hide-actual-content {

			}
		}
	}
}
