.smartfence-ribbon {
  .container {
    padding-top: 42px;
    padding-bottom: 50px;
    @media screen and (min-width: 900px) {
      padding-top: 57px;
      padding-bottom: 59px;
    }
    .row {
      > * {
        display:flex;
        flex-direction:column;
        align-items: center;
        @media screen and (min-width: 900px) {
          flex-direction: row;
          align-items: center;
          justify-content: flex-start;
        }
        > * + * {

        }
      }
    }
    .image-container {
      width: 199px;
      @media screen and (min-width: 900px) {

      }
      .smartfence-image {
        background: url('#{$img_dir}smartfence-graphic@1x.png') no-repeat;
        width: 199px;
        height: 119px;
        text-indent: -9999px;
        display: inline-block;
        @include hr-image("#{$img_dir}smartfence-graphic@2x.png", 199px, 119px);
      }
    }
    .content-container {
      text-align: center;
      margin-top: 32px;
      @media screen and (min-width: 900px) {
        text-align: left;
        margin-top: 0;
        margin-left: 80px;
        //padding-right: 40px;
        padding-right: 20px;
      }
      .headline {
        margin-bottom: 0 !important;
      }
      .subheadline {
        margin-bottom: 0 !important;
        margin-top: 20px;
        @media screen and (min-width: 900px) {
          margin-top: 10px;
        }
      }
    }
    .button-container {
      margin-top: 45px;
      @media screen and (min-width: 900px) {
        margin-top: 0;
        margin-left: auto;
        //padding-right:80px;
        //margin-right: 80px;
        //margin-left:250px;
      }
      @media screen and (min-width: 1200px) {
        margin-right: 40px;
      }
      @media screen and (min-width: 1440px) {
        margin-right: 90px;
      }
    }
  }
}
