$color_error: #ff0000;

.subscribe-form {
}
.subscribe-form__intro {
    h2 {
        font-family: $font_script;
        font-weight: $weight_light;
        color: $color_green_dark;
        font-size: 36px;
        line-height: 1.17;
        @media screen and (max-width: $bp_tablet - 1) {
            font-size: 30px;
            line-height: 1.27;
        }
    }
    p {
        font-size: 16px;
        line-height: 1.31;
    }
}
.subscribe-form__form {
}
.subscribe-form__form__footer {
    margin-top: 25px;
    p {
        font-size: 13px;
        line-height: 1.31;
    }
}

/* Form overrides ------------------------------------------------------------------ */

// Honeypot?
.gform_validation_container {
    display: none !important;
}

.gform_wrapper {
    input[type="submit"],
    input[type="button"] {
        cursor: pointer;
    }

    input[type="text"],
    input[type="email"] {
        border: 1px solid $color_text;
        height: 47px;
        width: 100%;
        padding-left: 15px;
        padding-right: 15px;
    }
    textarea {
        border: 1px solid $color_text;
        width: 100%;
        padding: 15px;
    }
    input[type="submit"] {
        @extend .btn;
    }
}

.gform_wrapper {
    form {
        > * + * {
            margin-top: 30px;
        }
    }
}

.gform_body {
    * {
        > * + * {
            margin-top: 18px;
        }
    }
}

.gform-footer {
}

.gfield {
    > * + * {
        margin-top: 10px;
    }
}

.gfield_label {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 1.5px;
}

.form {
    // Hide redirect message
    script,
    meta {
        display: none !important;
    }
}

.gform_ajax_spinner {
    //display: none !important;
    margin-left: 20px;
}

.gform_validation_errors {
    .gform_submission_error {
        color: $color_error !important;
        font-size: 18px !important;
        margin-bottom: 20px !important;
        font-weight: $weight_bold !important;
        font-family: $font_serif !important;
    }
}

.gfield_error {
    input,
    select,
    textarea {
        border-color: $color_error !important;
        color: $color_error;
    }
    .ginput_container_checkbox,
    .ginput_container_radio {
        label {
            color: $color_error;
        }
    }
}

.gfield_description {
    font-size: 14px;
    margin-top: 10px;
    &.validation_message {
        color: $color_error;
    }
}
