/* STRUCTURE ***************************************************/

.text-panel {
  p {
    &:last-child {
      margin-bottom: 0 !important;
    }
  }
  @media screen and (max-width: $bp_tablet - 1) {
    padding: 0 !important;
    .col {
      padding-top: 50px;
      //padding-bottom: 30px;
      &:first-child {
        //padding-bottom: 50px;
        padding-bottom: 20px;
      }
      &:last-child {
        padding-top: 0;
        padding-bottom: 50px;
      }
    }
  }
  &.no-top-pad {
    @media screen and (max-width: $bp_tablet - 1) {
      .col {
        padding-top: 0px;
      }
    }
  }
  &.no-bottom-pad {
    @media screen and (max-width: $bp_tablet - 1) {
      .col {
        padding-bottom: 0px;
      }
    }
  }
  &.with-top-row {
    @media screen and (max-width: $bp_tablet - 1) {
      .top-row-col {
        padding-top: 50px;
      }
      .col {
        padding-top: 0px;
        //padding-bottom: 50px;
        &:first-child {
          padding-bottom: 20px;
        }
        &:last-child {
          padding-bottom: 50px;
        }
      }
    }
  }
}

/* TYPOGRAPHY ***************************************************/

.text-panel {
  h3 {
    color: $color_green_dark;
    margin-bottom: 15px;
  }
}
