/* LOCAL VARS **************************************************/

$vid_width: 688px;
$vid_height: 387px;

/* STRUCTURE ***************************************************/

.videos-panel {
	padding-bottom: 70px;
	@media screen and (max-width: $bp_tablet - 1) {
		padding-bottom: 0;
	}
	&.first-on-page {
    //margin-top: -42px;
  }
	&.single-vid {
		//padding-bottom: 50px;
		.video-player-container {
			padding-bottom: 0;
		}
		.video-player {
			padding-top: 0;
			padding-bottom: 0;
			@media screen and (max-width: $bp_tablet - 1) {
				padding-top: 0;
				padding-bottom: 30px;
			}
		}
	}
}
.videos {

	&:first-child {
		margin-bottom: 0;
	}
	iframe {
		max-width: 660px;
		width: 100%;
		height: 371px;
	}
	.video-container {
		margin-bottom: 20px;
		&:last-child {
			margin-bottom: 0;
		}
		.video-link {
			cursor: pointer;
			@media screen and (max-width: $bp_tablet - 1) {
				margin-bottom: 30px;
			}
		}
		.video-embed {
			display: none;
		}
	}
}

/*
.video-player {
	margin-top: 70px;
	@media screen and (max-width: $bp_tablet - 1) {
		margin-top: 30px;
	}
	.video-player-container {
		background-color: $color_grey_light;
		max-width: 660px;
		width: 100%;
		height: 371px;
		margin: 0 auto;
		margin-bottom: 120px;
		@media screen and (max-width: $bp_tablet - 1) {
			height: 0;
		    overflow: hidden;
		    position: relative;
		    padding-bottom: 56.25%;
			iframe {
			    position: absolute;
			    top: 0;
			    left: 0;
			    width: 100%;
			    height: 100%;
			}
		}
	}
}
*/

.video-player {
	//max-height: $vid_height !important;
	max-width: $vid_width !important;
	width: 100%;
	height: 100%;
	display: block;
	margin: 0 auto;
	padding-top: 70px;
	padding-bottom: 120px;
	@media screen and (max-width: $bp_tablet - 1) {
		max-height: none !important;
		padding-top: 30px;
	}
	.video-player-container {
		background-color: $color_grey_light;
		margin: 0 !important;
		margin-bottom: 0 !important;
		height: 0 !important;
		overflow: hidden !important;
		position: relative !important;
		padding-bottom: 56.25% !important;
		margin: 0 auto !important;
		iframe {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
		}
	}
	&:hover {
		svg {
			opacity: 1;
			transform: scale(1.05);
		}
	}
}

// turn off placeholder when activated
#player.active {
	.play-icon svg, .video-placeholder, .play-overlay .play-button{
		pointer-events: none;
		opacity: 0;
	}
}


.play-overlay {
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: $z_overlay + 1;
	.play-button {
		z-index: $z_overlay + 3;
		cursor: pointer;
		width: 100%;
		height: 100%;
		position: absolute;
	}
}
.play-icon {
	position: absolute;
	top: calc(50% - 40px);
	left: calc(50% - 40px);
	z-index: $z_overlay + 2;
	//cursor: pointer;
	svg {
		width: 80px;
		height: 80px;
		opacity: 0.9;
		transition: all 0.15s;
	}
}

.video-placeholder {
	z-index: $z_overlay + 1;
	picture {
		img {
			cursor: pointer;
			width: 100%;
			height: auto;
		}
	}
}

/* TYPOGRAPHY ***************************************************/

.videos {
	.video-link {
		.subhead {
			color: $color_green_dark !important;
		}
		&.active {
			font-weight: $weight_semi;
			.subhead {
				color: $color_green_dark !important;
				font-weight: $weight_semi;
				text-decoration: none;
			}
		}
		&:hover {
			text-decoration: underline;
			color: $color_green_dark !important;
		}
		&:active {
			font-weight: $weight_semi;
			text-decoration: none;
		}
	}
}
