@import "../vars";

.slider-panel-new {
  background-color:$color_tan;
  padding-top:60px;
  padding-bottom:53px;
  padding-left: 25px;
  padding-right: 25px;
  transition: height 0.15s;
  @media screen and (min-width:$bp_tablet) {
    padding-top: 120px;
    padding-bottom: 120px;
  }
  &.single {

  }
  &.multiple {

  }
  .slides {
    max-width:1200px;
    margin: 0 auto;
    .slide {
      display: flex;
      flex-direction: column;
      @media screen and (min-width:$bp_tablet) {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
      }
      .slide-column {
        @media screen and (min-width:$bp_tablet) {
          width: 50%;


        }
      }
      .left-column {
        text-align: center;
        @media screen and (min-width:$bp_tablet) {
          padding-top: 0;
          padding-right:25px;
        }
        picture {
          img {
            width: 100%;
            height: auto;
          }
        }
      }
      .right-column {
        text-align: center;
        padding-top: 30px;
        @media screen and (min-width:$bp_tablet) {
          padding-left: 25px;
          padding-top: 0;
        }
        .slides-headline {
          font-size: 18px;
          font-weight: 400;
          letter-spacing: 2.3px;
          text-transform: uppercase;
          margin-bottom: 28px;
          @media screen and (max-width: $bp_tablet - 1) {
            margin-top: 20px;
          }
        }
        > * {
          max-width:486px;
          margin-left: auto;
          margin-right: auto;
        }
        .headline {
          margin-bottom: 0 !important;
          span {

          }
        }
        .navigation-holder {
          margin-bottom:25px;
          @media screen and (max-width: $bp_tablet - 1) {
            margin-top: 20px;
          }
          ul {
            margin: 0;
            padding: 0;
            list-style-type: none;
            display: flex;
            justify-content: center;
            > li + li {
              margin-left: 25px;
            }
            li {
              display: flex;
              flex: 0 1 auto;
              width: inherit;
              &.is-active {
                a {
                  text-decoration: underline;
                }
              }
            }
          }
        }
        .description {
          margin-top: 25px;
          span {

          }
        }
      }
    }
  }
  .navigation {

  }
}

// ----------------------------------------------------------------------------
// Slide transitions
// ----------------------------------------------------------------------------

.slider-panel-new {

  .description {
    span {
      transition: opacity 0.15s;
      opacity: 0;
      display: none;
      &.is-active {
        opacity: 1;
        display: inline-block;
      }
    }
  }

  .headline {
    span {
      transition: opacity 0.15s;
      opacity:0;
      display: none;
      &.is-active {
        opacity: 1;
        display: inline-block;
      }
    }
  }

  picture {
    transition: opacity 0.15s;
    opacity:0;
    display: none;
    &.is-active {
      opacity:1;
      display: inline-block;
    }
  }

}

.transition-out {
  opacity: 0;
}

.transition-in {
  opacity: 1;
}

// ----------------------------------------------------------------------------
// Navigation SVGs
// ----------------------------------------------------------------------------

#main {
  .slider-panel-new {
    .navigation-holder {
      max-width:300px;
      ul {
        padding-left: 0 !important;
        li {
          a {
            //display: inline-block;
            opacity: 0.5;
            background-repeat: no-repeat;
            background-color: transparent;

            display: block;
            background-position: left top;

            &:hover {
              opacity: 1;
            }
            &.default {
              width: 10px;
              height: 10px;
              border-radius: 100%;
              background-color: $color_grey_very_dark;
            }
            &.settings {
              width: 20px;
              height:20px;
              background-size: 20px 20px;
              //background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' xmlns='http://www.w3.org/2000/svg'%3E%3Ctitle%3E9E5F1571-D0FC-40DF-BAA3-ACDD93A5E431%3C/title%3E%3Cpath d='M9.663 12.776c-1.523 0-2.76-1.24-2.76-2.776 0-1.536 1.237-2.776 2.76-2.776 1.526 0 2.762 1.24 2.762 2.776 0 1.537-1.236 2.776-2.762 2.776m9.106-4.722H16c-.164-.534-.395-1.04-.677-1.507l1.836-1.853c.432-.43.432-1.136 0-1.57l-.78-.783c-.432-.432-1.132-.43-1.56 0L12.95 4.22c-.505-.29-1.052-.513-1.634-.665V1.11c0-.61-.49-1.11-1.103-1.11H9.11C8.5 0 8.007.5 8.007 1.11v2.443c-.635.162-1.23.417-1.776.75L4.67 2.73c-.432-.43-1.133-.432-1.564 0l-.783.786c-.43.433-.426 1.14.003 1.574l1.59 1.6c-.334.592-.587 1.238-.73 1.92h-2.08C.496 8.61 0 9.11 0 9.723v1.11c0 .613.495 1.11 1.106 1.11h2.22c.2.67.504 1.288.893 1.85L2.717 15.3c-.433.436-.433 1.14-.004 1.573l.78.785c.433.43 1.134.43 1.564-.002l1.677-1.686c.565.282 1.178.487 1.824.592v2.323c0 .614.492 1.11 1.102 1.113h1.104c.608-.002 1.104-.5 1.104-1.113v-2.61c.556-.2 1.084-.463 1.56-.8l1.778 1.79c.432.433 1.13.433 1.562 0l.78-.786c.434-.432.434-1.135-.003-1.57L15.6 12.945c.24-.488.425-1.008.54-1.56h2.63c.61 0 1.104-.493 1.106-1.11v-1.11c-.002-.612-.495-1.112-1.107-1.112' fill='#{$color_grey_very_dark}' fill-rule='evenodd' /%3E%3C/svg%3E ");
              background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' xmlns='http://www.w3.org/2000/svg'%3E%3Ctitle%3E9E5F1571-D0FC-40DF-BAA3-ACDD93A5E431%3C/title%3E%3Cpath d='M9.663 12.776c-1.523 0-2.76-1.24-2.76-2.776 0-1.536 1.237-2.776 2.76-2.776 1.526 0 2.762 1.24 2.762 2.776 0 1.537-1.236 2.776-2.762 2.776m9.106-4.722H16c-.164-.534-.395-1.04-.677-1.507l1.836-1.853c.432-.43.432-1.136 0-1.57l-.78-.783c-.432-.432-1.132-.43-1.56 0L12.95 4.22c-.505-.29-1.052-.513-1.634-.665V1.11c0-.61-.49-1.11-1.103-1.11H9.11C8.5 0 8.007.5 8.007 1.11v2.443c-.635.162-1.23.417-1.776.75L4.67 2.73c-.432-.43-1.133-.432-1.564 0l-.783.786c-.43.433-.426 1.14.003 1.574l1.59 1.6c-.334.592-.587 1.238-.73 1.92h-2.08C.496 8.61 0 9.11 0 9.723v1.11c0 .613.495 1.11 1.106 1.11h2.22c.2.67.504 1.288.893 1.85L2.717 15.3c-.433.436-.433 1.14-.004 1.573l.78.785c.433.43 1.134.43 1.564-.002l1.677-1.686c.565.282 1.178.487 1.824.592v2.323c0 .614.492 1.11 1.102 1.113h1.104c.608-.002 1.104-.5 1.104-1.113v-2.61c.556-.2 1.084-.463 1.56-.8l1.778 1.79c.432.433 1.13.433 1.562 0l.78-.786c.434-.432.434-1.135-.003-1.57L15.6 12.945c.24-.488.425-1.008.54-1.56h2.63c.61 0 1.104-.493 1.106-1.11v-1.11c-.002-.612-.495-1.112-1.107-1.112' fill='%234C494D' fill-rule='evenodd' /%3E%3C/svg%3E ");
            }
            &.profile {
              width: 36px;
              height:20px;
              background-size: 36px 20px;
              //background-image: url("data:image/svg+xml,%3Csvg width='36' height='20' viewBox='0 0 36 20' xmlns='http://www.w3.org/2000/svg'%3E%3Ctitle%3EF8992C73-7B02-4DED-8124-98B8FCF07A96%3C/title%3E%3Cpath d='M18.345 3.614l.388-.065c1.142-.105 2.158-.113 3.106-.747.05-.033.137-.08.194-.095 1.708-.49 3.735-.677 5.308-1.622.275-.165.557-.57.97-.776.755-.38 1.26-.335 2.102-.258l.874.03c1.56.47 2.507 1.27 4.142 1.395.147.298.222.374 0 .744-.878 1.466-1.298 1.87-3.107 1.782-.21.35-.194.714-.258 1.134-.658.082-1.046.118-1.522-.292h-.94c-.76.665-1.83 1.644-2.36 2.527-.276.46-.25 1.08-.583 1.523-.405.542-1.283 1.087-1.455 1.78-.21.84.397 2.145.582 2.98.167.753.208 1.575.648 2.234.592.89 1.722-.46 1.845 1.23-.5.027-.806-.05-1.23.163h-1.1c-.787-.393-1.85-3.618-2.3-4.632-.814 1.052-1.23 2.497-1.842 3.727-.18.355-.388 1.005-.26 1.39.154.46 1.063 1.13 1.456 1.524-.4.31-.86.488-1.52.225-3.15-1.26 1.005-7.17-.097-8.744l-1.068.033c-1.456-.122-2.85-.568-4.11-1.2-.225 1.243-.572 2.597-1.035 3.76-.21.526-.648.94-.648 1.52 0 .33-.086.458-.097.745-.008.217-.008.433 0 .648.013.323.557 2.315 1.003 2.397.353.064.717.05 1.068.13.045.01.087.018.13.03.186.064.194.16.26.326.05.124.24.276.323.388-.326.325-.906.435-1.488.452h-.1c-1.426-.036-1.483-1.89-2.166-2.915-.19-.285-.843-1.01-.873-1.328-.093-.923.32-1.67.13-2.72-.096-.52-.774-1.108-1.07-1.522-1.05.192-1.857 1.298-2.718 1.942-1.04.782-2.288 1.73-2.815 2.787-.282.565-.384 1.366-.323 1.975.08.786 1.523.248 1.23 1.52-.52.06-1.767.312-2.104-.192-.752-1.128.037-3.984.388-5.215.03-.107.7-.392.842-.486.37-.248.65-.93.808-1.327.82-2.05.685-4.434 1.747-6.348l-.842-.065C6.375 6 .927 5.797 0 4.715c.263-.035.432-.078.744-.097l1.973-.032h1.747c1.884.188 4.02.725 5.728-.13.72-.36 1.583-.968 2.395-1.07 1.955-.243 3.867.228 5.758.228' fill='#{$color_grey_very_dark}' fill-rule='evenodd' /%3E%3C/svg%3E ");
              background-image: url("data:image/svg+xml,%3Csvg width='36' height='20' viewBox='0 0 36 20' xmlns='http://www.w3.org/2000/svg'%3E%3Ctitle%3EF8992C73-7B02-4DED-8124-98B8FCF07A96%3C/title%3E%3Cpath d='M18.345 3.614l.388-.065c1.142-.105 2.158-.113 3.106-.747.05-.033.137-.08.194-.095 1.708-.49 3.735-.677 5.308-1.622.275-.165.557-.57.97-.776.755-.38 1.26-.335 2.102-.258l.874.03c1.56.47 2.507 1.27 4.142 1.395.147.298.222.374 0 .744-.878 1.466-1.298 1.87-3.107 1.782-.21.35-.194.714-.258 1.134-.658.082-1.046.118-1.522-.292h-.94c-.76.665-1.83 1.644-2.36 2.527-.276.46-.25 1.08-.583 1.523-.405.542-1.283 1.087-1.455 1.78-.21.84.397 2.145.582 2.98.167.753.208 1.575.648 2.234.592.89 1.722-.46 1.845 1.23-.5.027-.806-.05-1.23.163h-1.1c-.787-.393-1.85-3.618-2.3-4.632-.814 1.052-1.23 2.497-1.842 3.727-.18.355-.388 1.005-.26 1.39.154.46 1.063 1.13 1.456 1.524-.4.31-.86.488-1.52.225-3.15-1.26 1.005-7.17-.097-8.744l-1.068.033c-1.456-.122-2.85-.568-4.11-1.2-.225 1.243-.572 2.597-1.035 3.76-.21.526-.648.94-.648 1.52 0 .33-.086.458-.097.745-.008.217-.008.433 0 .648.013.323.557 2.315 1.003 2.397.353.064.717.05 1.068.13.045.01.087.018.13.03.186.064.194.16.26.326.05.124.24.276.323.388-.326.325-.906.435-1.488.452h-.1c-1.426-.036-1.483-1.89-2.166-2.915-.19-.285-.843-1.01-.873-1.328-.093-.923.32-1.67.13-2.72-.096-.52-.774-1.108-1.07-1.522-1.05.192-1.857 1.298-2.718 1.942-1.04.782-2.288 1.73-2.815 2.787-.282.565-.384 1.366-.323 1.975.08.786 1.523.248 1.23 1.52-.52.06-1.767.312-2.104-.192-.752-1.128.037-3.984.388-5.215.03-.107.7-.392.842-.486.37-.248.65-.93.808-1.327.82-2.05.685-4.434 1.747-6.348l-.842-.065C6.375 6 .927 5.797 0 4.715c.263-.035.432-.078.744-.097l1.973-.032h1.747c1.884.188 4.02.725 5.728-.13.72-.36 1.583-.968 2.395-1.07 1.955-.243 3.867.228 5.758.228' fill='%234A4A4A' fill-rule='evenodd' /%3E%3C/svg%3E ");
            }
            &.activity {
              width: 28px;
              height:21px;
              background-size: 28px 21px;
              //background-image: url("data:image/svg+xml,%3Csvg width='28' height='20' viewBox='0 0 28 20' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Ctitle%3E8B4FD798-7695-49EE-BA2C-761514C5AE18%3C/title%3E%3Cdefs%3E%3Cpath id='a' d='M12.57 7.143H0V.51h25.138v6.633z'/%3E%3C/defs%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg transform='translate(0 12.857)'%3E%3Cmask id='b' fill='%23fff'%3E%3Cuse xlink:href='%23a'/%3E%3C/mask%3E%3Cpath d='M13.824 7.143c-.122 0-.242-.056-.322-.16L9.337 1.476l-5.975 4.4c-.16.115-.378.1-.52-.033L.127 3.25c-.163-.156-.17-.41-.014-.573.154-.16.41-.167.572-.014l2.472 2.36L9.18.587c.18-.13.43-.094.562.082l4.178 5.524L24.513.63c.187-.123.44-.07.56.12.12.186.07.436-.12.557l-10.91 5.77c-.066.044-.143.066-.22.066' fill='%234C494D' mask='url(%23b)'/%3E%3C/g%3E%3Cpath d='M27.58.005c-1.43.306-6.583 1.402-8.117 1.703-.18.036-.247.257-.116.39l1.98 1.97-6.554 6.4c-.157.147-.403.142-.554-.01L8.985 4.764c-.142-.145-.37-.16-.53-.034L1.03 9.59c-.17.135-.2.384-.064.557l1.377 1.744c.136.174.384.202.557.067L8.202 8.78c.16-.126.387-.112.528.032l5.397 5.86c.15.152.396.158.553.01l8.787-8.485 1.89 1.878c.126.126.342.07.39-.103l2.102-7.68c.044-.167-.1-.322-.27-.287' fill='#{$color_grey_very_dark}'/%3E%3C/g%3E%3C/svg%3E ");
              background-image: url("data:image/svg+xml,%3Csvg width='28' height='20' viewBox='0 0 28 20' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Ctitle%3E8B4FD798-7695-49EE-BA2C-761514C5AE18%3C/title%3E%3Cdefs%3E%3Cpath id='a' d='M12.57 7.143H0V.51h25.138v6.633z'/%3E%3C/defs%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg transform='translate(0 12.857)'%3E%3Cmask id='b' fill='%23fff'%3E%3Cuse xlink:href='%23a'/%3E%3C/mask%3E%3Cpath d='M13.824 7.143c-.122 0-.242-.056-.322-.16L9.337 1.476l-5.975 4.4c-.16.115-.378.1-.52-.033L.127 3.25c-.163-.156-.17-.41-.014-.573.154-.16.41-.167.572-.014l2.472 2.36L9.18.587c.18-.13.43-.094.562.082l4.178 5.524L24.513.63c.187-.123.44-.07.56.12.12.186.07.436-.12.557l-10.91 5.77c-.066.044-.143.066-.22.066' fill='%234C494D' mask='url(%23b)'/%3E%3C/g%3E%3Cpath d='M27.58.005c-1.43.306-6.583 1.402-8.117 1.703-.18.036-.247.257-.116.39l1.98 1.97-6.554 6.4c-.157.147-.403.142-.554-.01L8.985 4.764c-.142-.145-.37-.16-.53-.034L1.03 9.59c-.17.135-.2.384-.064.557l1.377 1.744c.136.174.384.202.557.067L8.202 8.78c.16-.126.387-.112.528.032l5.397 5.86c.15.152.396.158.553.01l8.787-8.485 1.89 1.878c.126.126.342.07.39-.103l2.102-7.68c.044-.167-.1-.322-.27-.287' fill='%234C494D'/%3E%3C/g%3E%3C/svg%3E ");
            }
            &.alert {
              width: 23px;
              height:20px;
              background-size: 23px 20px;
              //background-image: url("data:image/svg+xml,%3Csvg width='23' height='20' viewBox='0 0 23 20' xmlns='http://www.w3.org/2000/svg'%3E%3Ctitle%3EE2DEBBD5-6EAB-4462-AF9E-150A4016D870%3C/title%3E%3Cg fill='#{$color_grey_very_dark}' fill-rule='evenodd' %3E%3Cpath d='M20.576 18.03c-.027.035-.245.176-.766.176H2.658c-.52 0-.74-.14-.764-.173-.016-.04-.03-.3.23-.752l8.577-14.87c.262-.45.492-.57.532-.575.044.004.274.124.535.575l8.577 14.87c.26.453.247.713.232.75m1.184-1.568l-8.577-14.87C12.647.662 11.94.198 11.235.198c-.707 0-1.414.464-1.95 1.394L.71 16.462c-1.073 1.86-.196 3.38 1.948 3.38H19.81c2.144 0 3.022-1.52 1.95-3.38'/%3E%3Cpath d='M11.235 13.822c-.676 0-1.224.55-1.224 1.225 0 .677.55 1.225 1.225 1.225s1.223-.548 1.223-1.225c0-.676-.548-1.225-1.223-1.225M10.117 12.897h2.235V7.694h-2.235'/%3E%3C/g%3E%3C/svg%3E ");
              background-image: url("data:image/svg+xml,%3Csvg width='23' height='20' viewBox='0 0 23 20' xmlns='http://www.w3.org/2000/svg'%3E%3Ctitle%3EE2DEBBD5-6EAB-4462-AF9E-150A4016D870%3C/title%3E%3Cg fill='%234A4A4A' fill-rule='evenodd' %3E%3Cpath d='M20.576 18.03c-.027.035-.245.176-.766.176H2.658c-.52 0-.74-.14-.764-.173-.016-.04-.03-.3.23-.752l8.577-14.87c.262-.45.492-.57.532-.575.044.004.274.124.535.575l8.577 14.87c.26.453.247.713.232.75m1.184-1.568l-8.577-14.87C12.647.662 11.94.198 11.235.198c-.707 0-1.414.464-1.95 1.394L.71 16.462c-1.073 1.86-.196 3.38 1.948 3.38H19.81c2.144 0 3.022-1.52 1.95-3.38'/%3E%3Cpath d='M11.235 13.822c-.676 0-1.224.55-1.224 1.225 0 .677.55 1.225 1.225 1.225s1.223-.548 1.223-1.225c0-.676-.548-1.225-1.223-1.225M10.117 12.897h2.235V7.694h-2.235'/%3E%3C/g%3E%3C/svg%3E ");
            }
            &.home {
              width: 21px;
              height:20px;
              background-size: 21px 20px;
              //background-image: url("data:image/svg+xml,%3Csvg width='21' height='20' viewBox='0 0 21 20' xmlns='http://www.w3.org/2000/svg'%3E%3Ctitle%3EAA3788D1-28A3-42E0-B677-608E6C39A117%3C/title%3E%3Cpath d='M2.336 9.596V20h16.352V9.707l2.04.014-2.386-2.28L10.334 0 2.326 7.44 0 9.58l2.336.016zM12.96 20v-3.547c0-1.346-1.096-2.437-2.448-2.437-1.352 0-2.448 1.09-2.448 2.437V20h4.896z' fill='#{$color_grey_very_dark}' fill-rule='evenodd' /%3E%3C/svg%3E ");
              background-image: url("data:image/svg+xml,%3Csvg width='21' height='20' viewBox='0 0 21 20' xmlns='http://www.w3.org/2000/svg'%3E%3Ctitle%3EAA3788D1-28A3-42E0-B677-608E6C39A117%3C/title%3E%3Cpath d='M2.336 9.596V20h16.352V9.707l2.04.014-2.386-2.28L10.334 0 2.326 7.44 0 9.58l2.336.016zM12.96 20v-3.547c0-1.346-1.096-2.437-2.448-2.437-1.352 0-2.448 1.09-2.448 2.437V20h4.896z' fill='%234C494D' fill-rule='evenodd' /%3E%3C/svg%3E ");
            }
          }
          &.is-active {
            a {
              opacity:1;
            }
          }
        }
      }
    }
  }
}
