#main {
	background-color: $color_white;
	//padding-top: $header_height;
  border-top: $header_height solid $color_white;
	@media screen and (max-width: $bp_tablet - 1) {
		border-top: ($header_height_phone + 5px) solid $color_white;
	}
	section, article {
		padding-bottom: 0px;
	}
}

.trust-box {
	@media screen and (max-width: $bp_phone) {
		margin-left: -25px;
		margin-right: -25px;
		width: auto;
	}
}

// This is a really weird form hack that will allow label clicks to check off form inputs on iOS
label > * {
	pointer-events: none;
}

.sub-page {
	padding-top: 30px;
	// padding-bottom: 120px;
}

.subhead {
	max-width: 600px;
	margin: 0 auto;
}

.subhead-nav {
	max-width: $max-width;
}

.product-intro {
	margin-top: 50px;
	.headline {
		margin-bottom: 6px;
	}
	.subhead {

	}
}

.entry-content {
	//padding-top: 20px;
	@extend .group;
}

.center-col {
	margin: 0 auto !important;
	float: none !important;
	input[type="text"],
	input[type="email"],
	input[type="phone"],
	textarea {
		width: 100% !important;
	}
}

hr {
	margin: 10px auto 15px;
	width: 100%;
	border: 0;
	border-top: $border;
}

.totop {
	display: block;
	opacity: 0;
	position: fixed;
	right: $gutter;
	bottom: -$gutter;
	z-index: $z_modal;
	transition: all 0.2s linear;
	i {
		color: $color_green_dark_a;
		font-size: 28px;
		font-size: 2.8rem;
		transition: all 0.2s linear;
		&:before {
			margin: 0;
			padding: 0;
		}
	}
	&:hover {
		cursor: pointer;
	}
	&.active {
		opacity: 1;
		bottom: $gutter;
	}
	&.dark-bg {
		i {
			color: $color_white_a !important;
		}
	}

	a {
		top: 0 !important;
		margin-right: 15px;
	}
}

/* Images & Embeds */
embed
iframe,
object {
	max-width: 100%;
}
img {
	max-width: 100%;
	&[class*="align"],
	&[class*="wp-image-"],
	&[class*="attachment-"] {
		height: auto;
	}
	&.size-full,
	&.size-large {
		width: auto; /* Prevent stretching of full-size and large-size images with height and width attributes in IE8 */
		height: auto; /* Make sure images with WordPress-added height and width attributes are scaled correctly */
	}
	&.alignleft,
	&.alignright,
	&.aligncenter {
		margin-bottom: 1.5em;
	}
}
