// IE 10+ - Media query hack
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .combined-input .combined-input-input {
    margin-right: -1px;
  }
  //@media screen and (min-width: 1051px) {
    header.scroll-header .find-a-dealer {
      vertical-align: 0px !important;
    //}
  }
  //@media screen and (max-width: 1050px) {
    header.scroll-header .find-a-dealer {
      //vertical-align: 7px !important;
    }
  //}
}
