// fix for overflow issue with jpanel
html {

  &.jPanelMenu {
    overflow-x: visible !important;
  }

  body {
    overflow-x: visible !important; // turn this on if we use jpanel
    // overflow-y: hidden;
		.jPanelMenu-panel {
      //overflow-x: hidden; // 5/15
			right: 0 !important;
			z-index: $z_base;
			display: block;
			@media screen and (max-width: $bp_tablet - 1) { // 5/11
				overflow-x: hidden;
			}
    }
    #main {

    }
    #jPanelMenu-menu {
			overflow-y: auto;
			//margin-top: $header_height;
			padding-top: $header_height;

			@media screen and (max-width: $bp_tablet - 1) {
				//margin-top: $header_height_phone;
				padding-top: $header_height_phone;
				width: 100% !important;
				height: 100% !important;
				//overflow-y: scroll;
			}
    }
    &[data-menu-position="closed"] {
			#jPanelMenu-menu {
				z-index: -10 !important;
			}
    }
    &[data-menu-position="open"] {
			//overflow-y: hidden;
			header {
				right: 0 !important;
			}
			&.scroll-body {
				#jPanelMenu-menu {
					//margin-top: $scroll_header_height;
					padding-top: $scroll_header_height;
					z-index: $z_overlay !important;
					@media screen and (max-width: $bp_tablet - 1) {
						//margin-top: $scroll_header_height_phone;
						padding-top: $scroll_header_height_phone;
					}
				}
			}
    }
  }
}

html {
  -webkit-tap-highlight-color: transparent;
}

body {
  background-color: $color_green_dark;
}

.container {
	max-width: $max-width;
	@media screen and (max-width: $bp_tablet) {
		max-width: none;
	}
}

nav {
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    li {
      display: inline-block;
    }
  }
}

.col-l {
  @media screen and (max-width: $bp_tablet - 1) {
    margin-bottom: 30px;
  }
}

#main {
	.panel {
		&.panel-white {
			background-color: $color_white;
		}
		&.panel-tan {
			background-color: $color_tan;
		}
    &.panel-grey {
      background-color: $color_grey_very_dark;
    }
		&.panel-green-dark {
			background-color: $color_green_dark;
			color: $color_white;
			h1, h2, h3, h4, h5, h6, p, li, .subhead {
				color: $color_white !important;
			}
			h2 {
				font-weight: $weight_regular;
				line-height: 1.1 !important;
			}
			a {
				color: $color_white;
				&:hover {
					text-decoration: underline;
				}
			}
			hr {
				border-color: $color_white;
				border-width: 1px;
			}
		}
		&.panel-green {
			background-color: $color_green_medium;
			color: $color_white;
			a {
				color: $color_white;
				&:hover {
					text-decoration: underline;
				}
			}
			h2 {
				font-weight: $weight_regular;
				line-height: 1.1 !important;
			}
			hr {
				border-color: $color_white;
				border-width: 1px;
			}
		}
	}
}

hr {
	@extend .group;
}

.border-bottom {
	border-bottom: 1px solid $color_white;
}

.color-white {
	color: $color_white !important;
}
.color-green {
	color: $color_green_dark !important;
}
.color_orange {
	color: $color_orange !important;
}
.color-grey {
	color: $color_grey_very_dark !important;
}

.pad-tb-30 {
	padding-top: 30px;
	padding-bottom: 30px;
}
.pad-tb-50 {
	padding-top: 50px;
	padding-bottom: 50px;
}
.pad-tb-70 {
	padding-top: 70px;
	padding-bottom: 70px;
}

.pad-lr-50 {
	padding-left: 50px;
	padding-right: 50px;
}
.pad-lr-70 {
	padding-left: 70px;
	padding-right: 70px;
}
.pad-t-80 {
  padding-top: 80px;
}
.pad-t-50 {
	padding-top: 50px;
}
.pad-t-40 {
	padding-top: 40px;
}
.pad-t-30 {
	padding-top: 30px;
}
.pad-b-10 {
	padding-bottom: 10px;
}
.pad-b-30 {
	padding-bottom: 30px;
}
.pad-b-40 {
	padding-bottom: 40px;
}
.pad-b-50 {
	padding-bottom: 50px;
}
.pad-b-70 {
	padding-bottom: 70px;
}
.pad-b-100 {
  padding-bottom: 100px;
}
.pad-b-120 {
	padding-bottom: 120px;
}
.margin-b-10 {
	margin-bottom: 10px;
}
.margin-b-20 {
  margin-bottom: 20px;
}
.margin-b-30 {
	margin-bottom: 30px;
}
.margin-b-40 {
	margin-bottom: 40px;
}
.margin-b-50 {
	margin-bottom: 50px;
}

/* Scaffolding */
.container {
  padding-right: 25px;
  padding-left: 25px;
  margin-right: auto;
  margin-left: auto;
}
.row {
  @extend .group;
  margin-left: -25px;
  margin-right: -25px;
}
.col {
  width: 100%;
}
.col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-md-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
  position: relative;
  min-height: 1px;
  padding-left: 25px;
  padding-right: 25px;
}
@media (min-width: $bp_tablet - 1) {
  .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
    float: left;
  }
  .col-sm-12 {
    width: 100%;
  }
  .col-sm-11 {
    width: 91.66666667%;
  }
  .col-sm-10 {
    width: 83.33333333%;
  }
  .col-sm-9 {
    width: 75%;
  }
  .col-sm-8 {
    width: 66.66666667%;
  }
  .col-sm-7 {
    width: 58.33333333%;
  }
  .col-sm-6 {
    width: 50%;
  }
  .col-sm-5 {
    width: 41.66666667%;
  }
  .col-sm-4 {
    width: 33.33333333%;
  }
  .col-sm-3 {
    width: 25%;
  }
  .col-sm-2 {
    width: 16.66666667%;
  }
  .col-sm-1 {
    width: 8.33333333%;
  }
}
@media (min-width: $bp_desktop) {
  .col-md-6 {
    float: left;
  }
  .col-md-6 {
    width: 50%;
  }
}
