// Responsive image mixin
@mixin hr-image($image, $width, $height) {
  @media print,
         (-webkit-min-device-pixel-ratio: 1.25),
         (-o-min-device-pixel-ratio: 5/4),
         (min-resolution: 120dppx) {
    background-image: url($image);
    background-size: $width $height;
  }
}

@function instrinsic-ratio($height, $width) {
  @return ($height / $width) * 100%;
}

@function rem($size) {
  $remSize: $size / 16px;
  //Default font size on html element is 100%, equivalent to 16px;
  @return #{$remSize}rem;
  //@return $size;
}
