html {

          box-sizing: border-box;
          -webkit-box-sizing: border-box;
             -moz-box-sizing: border-box;
}
* {
    position: relative;
          box-sizing: border-box;
          -webkit-box-sizing: border-box;
             -moz-box-sizing: border-box;
}
*:before,
*:after {

          box-sizing: border-box;
          -webkit-box-sizing: border-box;
             -moz-box-sizing: border-box;
}
html, body {
	height: 100%;
}

div {
  position: relative;
}

.clear {
  clear: both;
}

picture {
  line-height: 0;
  display: block;
  img {
    line-height: 0;
    display: block;
  }
}

/* 2 RESETS
================================================== */

/* 2A GLOBAL RESET
Based on 'reset.css' in the Yahoo! User Interface Library: http://developer.yahoo.com/yui */

*, html, body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, label, fieldset, input, p, blockquote, th, td, address, caption, cite, code, em, strong, th {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: inherit;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary,
svg {
  display: block;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

fieldset {
  border: 0;
}

img {
  border: 0;
  -ms-interpolation-mode: bicubic;
  /* Read more > http://bit.ly/qh1V0T */
}

caption, th {
  text-align: center;
}

q {
  &:before, &:after {
    content: '';
  }
}

html {
  overflow-y: scroll;
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

/* The below restores some sensible defaults */

strong {
  font-weight: bold;
}

em {
  font-style: italic;
}

a img {
  border: none;
}

/* 2B MEDIA
Based on the Bootstrap toolkit from Twitter http://twitter.github.com/bootstrap */

video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}

audio:not([controls]) {
  display: none;
}

/* 2C FORMS
Based on the Bootstrap toolkit from Twitter http://twitter.github.com/bootstrap */

button, input, select, textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle;
}

button, input {
  line-height: normal;
  *overflow: visible;
}

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

button {
  cursor: pointer;
  -webkit-appearance: button;
}

input {
  &[type="button"], &[type="reset"], &[type="submit"] {
    cursor: pointer;
    -webkit-appearance: button;
  }
  &[type="search"] {
    -webkit-appearance: textfield;
    &::-webkit-search-decoration {
      -webkit-appearance: none;
    }
  }
}

textarea {
  overflow: auto;
  vertical-align: top;
}
