#main {
	h1, .h1 {
		font-size: 48px;
		//font-size: 52px;
		font-weight: $weight_black;
		//text-transform: uppercase;
		//letter-spacing: 3px;
		line-height: 1.2;
		@media screen and (max-width: $bp_desktop - 1) {
			font-size: 36px;
			font-size: 3.6rem;
		}
		@media screen and (max-width: $bp_tablet - 1) {
			font-size: 27px;
			font-size: 2.7rem;
		}
	}
	h2, .h2 {
		font-size: 44px;
		font-size: 4.4rem;
		font-family: $font_script;
		font-weight: $weight_light;
		color: $color_green_dark;
		line-height: 1.1;
		margin-bottom: 8px;
		@media screen and (max-width: $bp_tablet - 1) {
			font-size: 27px;
			font-size: 2.7rem;
			line-height: 1.1;
			margin-bottom: 8px;
			font-weight: $weight_light;
		}
		strong {
			font-weight: $weight_black;
		}
	}
	h3, .h3 {
		font-size: 24px;
		font-size: 2.4rem;
		font-weight: $weight_regular;
		line-height: 1.1;
		margin-bottom: 12px;
		@media screen and (max-width: $bp_tablet - 1) {
			font-size: 21px;
			font-size: 2.1rem;
		}
		strong {
			color: $color_grey_very_dark;
			font-weight: $weight_regular !important;
		}
		&.h3--large {
			font-size: 28px;
			font-size: 2.8rem;
		}
	}
	h4, .h4 {
		font-size: 21px;
		font-size: 2.1rem;
		font-weight: $weight_regular;
		line-height: 37px;
		margin-bottom: 12px;
		@media screen and (max-width: $bp_tablet - 1) {
			font-size: 18px;
			font-size: 1.8rem;
			font-weight: $weight_semi;
			line-height: 30px;
		}
		&.subhead {
			font-size: 18px;
			font-size: 1.8rem;
			color: $color_grey_very_dark;
			line-height: 30px;
		}
	}
	/*
	h5 {
		font-weight: $weight_regular;
		letter-spacing: 2px;
		font-size:16px;
		@media screen and (min-width: $bp_tablet) {
			letter-spacing: 2.3px;
			font-size:18px;
		}
	}
	*/
	h6, .h6 {
		font-size: 12px;
		font-size: 1.2rem;
		font-weight: $weight_regular;
		line-height: 1.3;
	}
	h6.romance {
		font-size: 32px !important;
		line-height:36px !important;
		font-family: $font_script;
		font-weight: $weight_black !important;
		@media screen and (min-width:$bp_tablet) {
			font-size: 68px !important;
			line-height:76px !important;
		}
		small {
			font-size:21px !important;
		}
	}
	.subhead p, .body-intro p, span.subhead {
		font-size: 18px;
		font-size: 1.8rem;
		display: inline;
		color: $color_grey_very_dark;
		@media screen and (max-width: $bp_phone) {
			br {
				display: none;
			}
		}
	}
	p {
		line-height: 1.4;
		margin-bottom: 20px;
		&.body-intro {
			font-size: 18px;
			font-size: 1.8rem;
		}
	}
	a {
		color: $color_orange;
		&:hover {
			text-decoration: underline;
			color: $color_red;
		}
		&:active {
			font-weight: $weight_semi;
			color: $color_red;
			text-decoration: none;
		}
	}
	h2 {
		a {
			&:active {
				font-weight: inherit !important;
			}
		}
	}
	strong {
		font-weight: $weight_semi;
	}
	blockquote {
		font-size: 24px;
		font-size: 2.4rem;
		font-weight: $weight_regular;
		line-height: 1.4;
	}
	ul {
		padding-left: 25px;
		&.subhead {
			li {
				a {
					font-size: 18px;
					font-size: 1.8rem;
					color: $color_grey_very_dark;
				}
			}
		}
		ul {
			margin-top: 12px;
			margin-bottom: 12px;
			padding-left: 0;
		}
	}
	li {
		line-height: 1.4;
		margin-bottom: 12px;
	}
	.paragraph-list {
		@extend .unstyled;
		margin-bottom: 20px;
		li {
			line-height: 1.4;
		}
	}

	a.green {
		color: $color_green_dark !important;
		&:hover {
			text-decoration: underline;
			color: $color_green_dark !important;
		}
		&:active {
			text-decoration: none;
			font-weight: $weight_semi;
			color: $color_green_dark !important;
		}
	}

	.entry-content {
		h2 {
			//margin-bottom: 18px;
		}
		h3 {
			color: $color_green_dark;
			margin-bottom: 12px;
			strong {
				color: $color_grey_very_dark;
				font-weight: $weight_regular !important;
			}
		}
		.panel-green {
			h3 {
				color: $color_white;
			}
		}
	}
}

.dark {
	a {
		color: $color_white;
	}
}
