.align-center {
	width: 100%;
	text-align: center;
}

.hardware {
	-webkit-transform: translateZ(0px);
	-webkit-perspective: 1000;
	-webkit-backface-visibility: hidden;
	-webkit-transform-style: preserve-3d;
}

.hidden {
	display: none !important;
}

.group:before,
.group:after {
    content: "";
    display: table;
}
.group:after {
    clear: both;
}
.group {
    zoom: 1; /* For IE 6/7 (trigger hasLayout) */
}

ul.unstyled {
  list-style-type: none;
}

.rounded {
	border-radius: 22px;
	height: 40px;
	padding-left: 17px;
	padding-right: 17px;
}

.btn {
	@extend .rounded;
	display: inline-block;
	text-align: center;
	min-width: 190px;
	overflow: hidden;
	background-color: $color_green;
	font-weight: $weight_bold;
	letter-spacing: 1px !important;
	text-transform: uppercase;
	color: $color_white !important;
	text-decoration: none !important;
	line-height: 2.5;
	font-size: 14px;
	height: 40px;
	padding-top: 3px;
	&:hover, &:active {
		background-color: $color_green_dark;
		text-decoration: none !important;
	}
	&.large {
		min-width: 220px;
	}
	&.small {
		height: 28px;
		min-width: 60px;
		font-size: 12px;
		padding-top: 2px;
		line-height: 2;
	}
	&.green-green-green {
		&:hover, &:active {
			background-color: $color_green_very_dark;
			text-decoration: none !important;
		}
	}
	&.halloween {
		color: $color_grey_very_dark !important;
		background-color: $color_white;
		&:hover, &:active {
			color: $color_white !important;
			background-color: $color_green;
		}
	}
	&.another-green {
		color: $color_white !important;
		background-color: $color_green;
		&:hover, &:active {
			color: $color_grey_very_dark !important;
			background-color: $color_white;
		}
	}
	&.deep-green {
		background-color: $color_green_dark;
		&:hover, &:active {
			background-color: $color_green_very_dark;
		}
	}
	&.grey {
		background-color: $color_grey_very_dark !important;
		color: $color_white;
		&:hover, &:active {
			color: $color_white !important;
			background-color: $color_green !important;
		}
	}
	&.grey-grey {
		background-color: $color_grey_very_dark !important;
		color: $color_white;
		&:hover, &:active {
			color: $color_white !important;
			background-color: $color_grey_very_dark !important;
		}
	}
	&.orange {
		background-color: $color_orange;
		&:hover, &:active {
			background-color: $color_red;
		}
	}
	&.grey {
		background-color: $color_grey;
		&:hover, &:active {
			background-color: $color_grey_dark;
		}
	}
	&.white {
		background-color: $color_white;
		color: $color_green_dark !important;
		&:hover, &:active {
			background-color: $color_green_dark;
			color: $color_white !important;
		}
	}
	&.dark-green {
		background-color: $color_green_very_dark;
		color: $color_white;
		&:hover, &:active {
			background-color: $color_green_dark_a;
		}
	}
	&.no-min {
		min-width: inherit !important;
	}
}

.display-inline-block {
	display: inline-block !important;
}

.aligncenter {
  display: block;
  margin: 0 auto;
}

.textcenter {
  text-align: center;
}

.alignleft {
  float: left;
}

.alignright {
  float: right;
}

img {
  &.alignleft {
    margin-right: 1em;
    margin-bottom: 1.8em;
  }
  &.alignright {
    margin-left: 1em;
    margin-bottom: 1.8em;
  }
}

.text-right {
  text-align: right;
}

.hide {
  /* Hide stuff without resorting to display:none; */
  visibility: hidden;
  width: 0!important;
  height: 0!important;
  line-height: 0!important;
  padding: 0!important;
  margin: 0!important;
}

// Remove bottom margin
.unmargin-last {
  *:last-child {
    margin-bottom: 0 !important;
  }
}
