/* BASE VARIABLES
 *******************/

/* Strings */
//$staging_base: "/staging/dogtails/";
$staging_base: "/";
//$staging_base: "/newdw2/";
//$staging_base: "/dogtails/";
$template_dir: $staging_base + "wp-content/themes/Emi-master/";
$img_dir: $template_dir + "assets/images/";

/* Colors */
$color_green: #85b52e;
$color_green_a: rgba(133, 181, 46, 0.95);

$color_green_medium: #85b52e;
$color_green_medium_a: rgba(133, 181, 46, 0.95);

$color_green_dark: #55910c;
$color_green_dark_a: rgba(85, 145, 12, 0.95);

$color_green_very_dark: #235608;
$color_green_very_dark_a: rgba(35, 86, 8, 0.95);

$color_orange: #ff7800;
//$color_red:          #f44c1e;
$color_red: #ff5b00;
$color_white: #ffffff;
$color_white_a: hsla(0, 0%, 100%, 0.95);
$color_white_a_50: hsla(0, 0%, 100%, 0.5);
$color_grey: #b8b3b0;
$color_grey_dark: #a09c9a;
$color_grey_very_dark: #4d4b4e;
$color_grey_border: #878482;
$color_grey_light: #f5f3f4;

$color_brown: #f7f6f0;
$color_tan: #ecebe0;

$color_tan_a: hsla(55, 24%, 90%, 0.4);
$color_tan_a_less: hsla(55, 24%, 90%, 0.95);

/* Base size */
$base_font_size: 62.5%;

/* Fonts */
$font_serif: "proxima-nova", sans-serif;
$font_icon: "fontello";
$font_script: "lexia", serif;

/* Weights */
$weight_light: 300;
$weight_regular: 400;
$weight_semi: 600;
$weight_bold: 700;
$weight_black: 800;

/* Borders */
$border: 2px solid $color_grey_border;

/* Breakpoints */
$bp_desktop_l: 1200px;
$bp_desktop_m: 1020px;
$bp_desktop: 960px;
$bp_tablet: 768px;
$bp_phone: 480px;
$bp_phone_s: 320px;

/* Scaffolding */
$max-width: 1200px;
$max_width_blog: 1150px;
$gutter: 25px;
$col: 50px;
$content_pad: 120px;

/* Z-Index */
$z_base: 0;
$z_overlay: 1000;
$z_modal: 2000;
$z_top: 5000;

/* Misc */
$header_height: 100px;
$header_height_phone: 72px;
$scroll_header_height: 60px;
$scroll_header_height_phone: 52px;
$youtube_chrome_height: 50px;
