@import "../vars";

.template-blog-new {
  .blog-posts-sidebar {
    > div.dealer-widget + div.dealer-widget {
      margin-top: 35px;
    }
    div.dealer-widget {
      ul {
        list-style-type: none;
        margin: 0 !important;
        padding: 0 !important;
        > li + li {
          margin-top: 16px;
        }
        li {
          margin-bottom: 0 !important;
        }
      }
    }
  }
}

.post-type-archive-blog,
.blog {
  .sub-page {
    padding-top: 60px;
  }
}

// ----------------------------------------------------------------------------
// Inline images
// ----------------------------------------------------------------------------

.template-blog-new {
  .blog-content {
    img {
      &.alignleft {
        margin: 0 25px 25px 0 !important;
      }
      &.alignright {
        margin: 0 0 25px 25px !important;
      }
      &.aligncenter {
        margin: 0 auto 25px auto !important;
      }
    }
  }
}

// ----------------------------------------------------------------------------
// Video
// ----------------------------------------------------------------------------

.template-blog-new {
  .video-player {
    padding-top: 0;
    padding-bottom: 0;
    width: inherit;
    height: inherit;
  }
}

// ----------------------------------------------------------------------------
// Blog content header
// ----------------------------------------------------------------------------

.blog-header-content {
  padding-bottom: 37px;
  > * {
    > * + * {
      margin-top: 27px;
    }
  }
  .headline {
    margin-bottom: 0 !important;
  }
  .breadcrumb {
    margin-bottom: 0 !important;
  }
}

// ----------------------------------------------------------------------------
// Single post css
// ----------------------------------------------------------------------------

.template-blog-new {
  article {
    max-width: $max_width_blog;
    margin: 0 auto;
    padding-bottom: 100px !important;
    .row.blog-content {
      > * {
        display: flex;
        flex-direction: column;
        > * + * {
          margin-top: 50px;
        }
        @media screen and (min-width: $bp_desktop) {
          flex-direction: row;
          justify-content: space-between;
          > * + * {
            margin-top: 0;
          }
        }
      }
    }
  }

  // ----------------------------------------------------------------------------
  // FEED
  // ----------------------------------------------------------------------------

  .blog-posts-feed {
    > * + * {
      margin-top: 50px;
    }
  }

  // ----------------------------------------------------------------------------
  // MAIN CONTENT AREA
  // ----------------------------------------------------------------------------

  .blog-post-single {
    max-width: 639px + 50px;
    width: 100%;
    .post-date {
    }
    .post-title {
      margin-top: 35px;
    }
    .post-image {
      picture,
      picture img {
        width: 100%;
        height: auto;
      }
    }
    .post-content {
      margin-top: 35px;
    }
    .post-meta {
      margin-top: 40px;
      > * {
        margin-bottom: 0 !important;
      }
      > * + * {
        margin-top: 25px;
      }
    }
  }

  // ----------------------------------------------------------------------------
  // SIDEBAR
  // ----------------------------------------------------------------------------

  .blog-posts-sidebar {
    max-width: 305px;
    width: 100%;

    @media screen and (min-width: $bp_desktop) {
      padding-left: 50px;
      max-width: 305px + 50px;
    }
  }
}

// ----------------------------------------------------------------------------
// Pagination
// ----------------------------------------------------------------------------

.pagination-block {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  color: $color_green_dark !important;
  border: 2px solid $color_green_dark;
  background-color: $color_white;
  line-height: 0;
  font-weight: $weight_bold;
  flex: 0 0 auto;
  &:hover {
    text-decoration: none !important;
  }
}

.pagination-block-active {
  @extend .pagination-block;
  background-color: $color_green_dark;
  color: $color_white !important;
}

.pagination {
  .row {
    > div {
      display: flex;
      flex-direction: row;
      padding-left: 0;
      padding-right: 0;
      margin-left: 0;
      margin-right: 0;
      margin-top: 25px;
      > * + * {
        margin-left: 18px;
      }
      a.prev {
        @media screen and (max-width: $bp_phone) {
          margin-right: auto;
        }
      }
      a.next {
        @media screen and (max-width: $bp_phone) {
          margin-left: auto;
        }
      }
      span.dots {
        display: flex;
        align-self: flex-end;
      }
      a,
      span.page-numbers:not(.dots) {
        @extend .pagination-block;
        &:hover {
          @extend .pagination-block-active;
        }
      }
      span.page-numbers {
        &.current {
          @extend .pagination-block-active;
        }
      }
      > span {
        > span {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 40px;
          height: 40px;
          border-radius: 100%;
          color: $color_green_dark;
          border: 2px solid $color_green_dark;
          background-color: $color_white;
          line-height: 0;
        }
        &.active {
          > span {
            @extend .pagination-block-active;
          }
        }
      }
      .active {
        a {
          @extend .pagination-block-active;
        }
      }
      // TODO: clean this up
      > a,
      span,
      span.current,
      span.dots {
        @media screen and (max-width: $bp_phone) {
          display: none !important;
          &.prev,
          &.next,
          &.page-prev,
          &.page-next {
            display: flex !important;
            span {
              display: flex !important;
            }
          }
        }
      }
    }
  }
}
