/* STRUCTURE ***************************************************/

.template-child-list {
	// padding-bottom: 70px;
		.entry-header.no-subhead {
			//margin-bottom: 0;
		}
		.entry-content {
			//padding-top: 0;
		}
	ul {
		@extend .unstyled;
	}
	.child-list {
		.parent {
			ul {
				@extend .row;
				padding-left: 0 !important;
			}
			hr {
				margin-bottom: 50px;
			}
			li {
				margin-bottom: 20px;
				@extend .group;
			}
			.parent-title {
				//margin-top: 60px;
			}
			.child {
				float: left;
				margin-bottom: 20px !important;
				@media screen and (max-width: $bp_tablet - 1) {
					float: none;
				}
				a {
					.child-image {
						width: 100%;
						height: auto;
						margin-bottom: 30px;
						text-align: center;
						img, picture {
							max-width: 330;
							max-height: 250px;
							margin: 0 auto;
						}
					}
					.child-title {
						margin-bottom: 10px;
						padding-bottom: 3px;
						width: 100%;
						border: 0;
						border-bottom: $border;
						br {
							display: none;
						}
					}
				}
			}
		}
		&.menu {
			.parent {
				hr {
					margin-bottom: 16px;
				}
				.child {
					margin-bottom: 10px;
				}
			}
		}
	}
	.child-list-nav {
		padding-top: 8px;
		padding-left: 0 !important;
		li {
			display: inline;
			margin-right: 25px;
			&:last-child {
				margin-right: 0;
			}
			@media screen and (max-width: $bp_phone) {
				display: inline-block;
			}
			span {
				&:hover {
					cursor: pointer;
				}
			}
		}
	}
}

/* TYPOGRAPHY ***************************************************/

.template-child-list {
	.child-list {
		.parent {
			.child {
				a {
					&:hover {
						//text-decoration: none !important;
						.child-title {
							text-decoration: underline;
						}
					}
					.child-cost {
						color: $color_grey_very_dark;
					}
				}
			}
		}
	}
	.child-list-nav {
		a, span {
			color: $color_grey_very_dark !important;
			font-size: 18px !important;
			font-size: 1.8rem !important;
			line-height: 1.4;
		}
	}
}
