/* STRUCTURE ***************************************************/

.template-dealer {
	.dealers {
		.dealer {
			margin-bottom: 50px;
			.dealer-meta {
				margin-left: 0 !important;
				margin-left: initial !important;
			}
		}
	}
}

.dealer-archive {
	//padding-bottom: 70px;
	ul.dealer-archive-list-parent {
		list-style-type: none !important;
		margin-left: 0 !important;
		padding-left: 0 !important;
	}
	ul.dealer-archive-list {
		padding-left: 0 !important;
		list-style-type: none;
		margin-bottom: 0 !important;
		@extend .row;
		li.dealer-archive-item {
			margin-bottom: 0 !important;
			@extend .col-sm-6;
			.container {
				padding: 0 !important;
			}
			&:nth-child(even) {
				float: right !important;
				//@extend .group;
				@media screen and (max-width: $bp_tablet - 1) {
					float: left;
					clear: both;
					width: 100%;
				}
			}
			&:nth-child(odd) {
				float: left !important;
				//@extend .group;
				clear: left;
				@media screen and (max-width: $bp_tablet - 1) {
					float: left;
					clear: both;
					width: 100%;
				}
			}
			ul {
				margin-bottom: 0 !important;
				li:last-child {
					margin-bottom: 0 !important;
				}
			}
		}
	}
}

.template-dealer-list {
	.dealer-list-panel {
		ul {
			padding-left: 0 !important;
			@extend .row;
			list-style-type: none;
			margin-left: 0;
			li {
				margin-bottom: 12px !important;
				display: block !important;
				@extend .col-sm-6;
				@media screen and (max-width: $bp_tablet - 1) {
					float: left !important;
					clear: both !important;
					width: 100% !important;
				}
				.container {
					padding: 0 !important;
				}
				&:nth-child(even) {
					float: right !important;
					text-align: left;
					//@extend .group;
				}
				&:nth-child(odd) {
					float: left !important;
					//@extend .group;
					clear: left;
				}
			}
		}
	}
}

/* TYPOGRAPHY ***************************************************/

.template-dealer {
	ul.dealer-meta {
		padding-left: 0 !important;
		li.desc {
			font-style: italic;
		}
	}
}

/* SINGLE DEALER ***************************************************/

.single-dealer {
	.template-dealer {
		.dealers {
			padding-bottom: 70px;
		}
		.entry-header {
			margin-bottom: 10px !important;
		}
		.headline-item-divider {
			display: block;
			widows: 100%;
			height: 20px;
		}
		.subheadline {
			 p {
				 margin-bottom: 0px !important;
			   max-width: 600px;
			   margin-left: auto;
			   margin-right: auto;
			}
		}
		.subheadline-button {
			a {
				margin: 0 auto 0 auto !important;
			}
		}
		.dealers-info {
			padding-top: 65px !important;
			p {
				&.item {
					margin-bottom: 10px !important
				}
				&.about-us-label {
					margin-bottom: 0px !important
				}
			}
			.about-us {
				font-style: italic !important;
			}
			.about-us-image,
			.location-image {
				margin-bottom: 30px;
				min-height: 300px;
				@media screen and (max-width: 300px) {
					min-height: none;
				}
				img {
					border-radius: 100%;
				}
			}
			.location-image img {
				border-radius: inherit;
			}
			picture {
				img {
					max-width: 300px;
					width: auto;
					height: auto;
					margin: 0 auto;
				}
			}
			.testimonials {
				margin-top: 40px;
				padding-top: 40px;
				border-top: 1px solid #666;
				ul {
					list-style-type: none;
					margin: 0 !important;
					padding: 0 !important;
					li + li {
						margin-top: 25px;
					}
				}
			}
			.trust-icons {
				margin-top: 40px;
				padding-top: 40px;
				border-top: 1px solid #666;

				display: flex;
				flex-direction: row;
				align-items: stretch;
				flex-wrap: wrap;
				@media screen and (max-width: 480px) {
					flex-direction: column;
			    justify-content: center;
			    align-items: center;
					.icon + .icon {
						margin-top: 25px;
					}
				}
				.icon {
					margin-right: 20px;
					margin-bottom: 20px;
					display: flex;
					flex-direction: column;
					justify-content: center;
					max-width: 80px;
					@media screen and (max-width: 480px) {
						margin-right: 0;
				    margin-bottom: 0;
					}
					&.last {
						margin-right: 0;
					}
				}
			}
		}
		.legal {
			margin-top:30px;
			p {
				margin-bottom:10px !important;
			}
		}
	}
}
