/* STRUCTURE ***************************************************/

.template-dealerarea {
  .dealer-widget {
    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      li {
        list-style-type: none;
        div, .post-date {
          display: inline;
          &:before {
            content: " - ";
          }
        }
      }
    }
  }
}
.dealer-nav {
  .nav {
    margin: 0 auto;
    float: none;
  }
}

/* TYPOGRAPHY ***************************************************/

.template-dealerarea {
  .dealer-widget {
    li {
      font-size: 16px;
      font-size: 1.6rem;
    }
  }
}
