/* STRUCTURE ***************************************************/

.template-default {
	// padding-bottom: 70px;
	.entry-header {
		margin-bottom: 40px;
		&.no-subhead {
			margin-bottom: 40px;
		}
	}
	h4.subhead {
		padding-top: 8px;
		margin-bottom: 40px !important;
	}
	.headline-button{
		padding-top: 21px;
		display: inline-block;
		width: 100%;
	}
	.headline-optional {
		margin-top: 10px;
	}
	.col-l {
		margin-bottom: 50px;
		@media screen and (min-width: $bp_tablet) {
		/*
			padding-left: 50px;
			padding-right: 50px;
		*/
		}
		@media screen and (max-width: $bp_tablet - 1) {
			margin-bottom: 20px;
		}
	}
	.col-r {
		margin-bottom: 50px;
		@media screen and (min-width: $bp_tablet) {
		/*
			padding-left: 50px;
			padding-right: 50px;
		*/
		}
		@media screen and (max-width: $bp_tablet - 1) {
			margin-bottom: 50px;
		}
	}
	ul, ol {
		margin-left: 20px;
		margin-bottom: 20px;
	}
	.main-content-panel {
		.three-q {
			ul {
				ul {
					margin-top: 12px;
				}
			}
			hr {
				display: inline-block;
				margin: 15px 0 25px;
			}
			table {
				margin-bottom: 40px;
				width: 100%;
				text-align: center;
				vertical-align: top;
				th {
					font-weight: $weight_semi;
				}
				td {
					padding: 10px 20px 10px 0px;
				}
				tr {
					border-bottom: 1px solid $color_tan;
					&:last-child {
						border: 0;
					}
				}
			}	
		}
	}
}

.edit-link {
	position: absolute;
	right: 25px;
	top: 6px;
	z-index: $z_overlay;
	@media screen and (min-width: $bp_desktop) {
		top: 8px;
	}
	@media screen and (max-width: $bp_tablet - 1) {
		display: none !important;
	}
}

/* TYPOGRAPHY ***************************************************/

.template-default {

}
