/* STRUCTURE ***************************************************/

.template-fork {
	.related {
		margin-bottom: 0;
	}
	.fork {
		ul {
			margin: 0 auto;
      list-style-type: none;
			padding-left: 0 !important;
		}
	}
	.fork-item {
		margin-bottom: 30px !important;
		.fork-item-image {
			width: 100%;
			height: auto;
			margin-bottom: 30px;
			text-align: center;
			img, picture {
				max-width: 330;
				max-height: 250px;
				margin: 0 auto;
			}
		}
		.fork-item-headline {
			margin-bottom: 30px !important;
			padding-bottom: 10px !important;
			width: 100%;
			border: 0;
			border-bottom: $border;
			cursor: text;
			br {
				display: none;
			}
		}
		.form-item-link {
			margin-top: 5px;
			margin-bottom: 0;
			display: inline-block;
			&:hover {
				text-decoration: underline;
			}
		}
	}
}

/* TYPOGRAPHY ***************************************************/

.template-fork {

}
