/* STRUCTURE ***************************************************/

.template-forum {
  #bbpress-forums .bbp-attachments ol li.bbp-atthumb {
    display: inline-block !important;
  }
  #bbpress-forums {
    input[type="text"],
    input[type="email"],
    input[type="password"],
    input[type="number"],
    textarea,
    select {
      background-color: $color_tan;
      padding: 10px 10px 10px;
      min-height: 40px;
      transition: all 0.1s linear;
      margin-left: 0;
      margin-right: 0;
      &:focus {
        background-color: darken($color_tan, 5%);
      }
    }
    button {
      @extend .btn;
      margin-top: 30px;
    }
  }
  .bbp-author-avatar,
  .avatar {
    display: none;
  }
  .bbp-reply-ip {
    display: none;
  }
  li.bbp-header,
  li.bbp-footer,
  li.bbp-body {
    margin-bottom: 0 !important;
  }
  .bbp-reply-author {
    @media screen and (max-width: $bp_tablet - 1) {
      padding-left: 0 !important;
    }
  }
  .bbp-reply-author {
    @media screen and (max-width: $bp_tablet - 1) {
      text-align: left;
    }
  }
  .bbp-topics {
    padding-left: 0 !important;
    ul {
      margin-top: auto !important;
      margin-bottom: auto !important;
    }
  }
  .forums {
    margin-top: auto !important;
    margin-bottom: auto !important;
    padding-left: 0 !important;
  }
  .bbp-pagination {
    margin-top: 30px;
  }
}

.bbp-author-avatar,
.avatar {
  display: none;
}

/* TYPOGRAPHY ***************************************************/

.template-forum {
  #bbpress-forums {
    font-size: inherit;
    .bbp-breadcrumb {
      font-size: inherit;
    }
    .bbp-forum-description {
      font-size: inherit;
    }
    div.bbp-template-notice p {
      font-size: inherit;
    }
    ul.bbp-lead-topic,
    ul.bbp-topics,
    ul.bbp-forums,
    ul.bbp-replies,
    ul.bbp-search-results {
      font-size: inherit;
    }
    .bbp-topic-meta {
      font-size: inherit;
    }
    div.bbp-forum-author .bbp-author-role,
    div.bbp-topic-author .bbp-author-role,
    div.bbp-reply-author .bbp-author-role {
      font-size: inherit;
    }
    .bbp-author-ip {
      font-size: inherit;
    }
    .wp-caption-text {
      font-size: 14px;
      font-size: 1.4rem;
    }
  }
}
