/* STRUCTURE ***************************************************/

.home {
  .hero {
    margin-bottom: 0;
  }
  .entry-content {
    padding-top: 0;
  }
}


/* TYPOGRAPHY ***************************************************/

.home {

}
