.page-template-page-product-new {

  // --------------------------------------------------------------------------
  // Hero adjustments
  // --------------------------------------------------------------------------
  .hero {
    .single-image-slider.product-slider li .slide-copy-container{
      top: 0 !important;
    }
    .slide-container {
      .slide-copy-container {
        position:absolute;
        right:0;
        bottom:0;
        left:0;
        height:100%;
        width:100%;

        display: flex !important;
        flex-direction: column;
        justify-content: center;
        .slide-copy {
          * {
            display: block;
            margin: 0 auto;
            text-align: center;
            float: none;
          }
        }
      }
    }
  }

  // --------------------------------------------------------------------------
  // Product content panel
  // --------------------------------------------------------------------------
  .product-content-panel.product-content-panel-new {
    .product-content-header {
      a {
        margin-bottom:30px;
      }
    }

    // Video toggle
    .has-video {
      &.hiding-video {
        .iframe-embed-video {
          display: none;
        }
        picture {
          display:block;
        }
      }
      &.showing-video {
        .iframe-embed-video {
          display: block;
        }
        picture {
          display:none !important;
        }
      }
      .iframe-16-9-container {
        max-width: 768px;
        max-height: 432px;
        margin: 0 auto;
        overflow: hidden;
      }
      .iframe-embed-video {
        position: relative;
        padding-bottom: 56.25%;
        height: 0;
        overflow: hidden;
        max-width: 100%;
        //max-width: 767px;
        //max-height: 431px;
        margin: 0 auto;
        background-color:$color_tan;
        iframe {
          position: absolute; top: 0; left: 0; width: 100%; height: 100%;
          //max-width: 767px;
          //max-height: 431px;
        }
      }
    }
  }


}
