/* STRUCTURE ***************************************************/

.search-template {
  .entry-header {
    margin-bottom: 40px;
  }
  .searches {
    //padding-bottom: 70px;
    .search-item {
      &:last-child {
        padding-bottom: 30px;
        .item {
          border: 0;
        }
      }
      &.item-index-0 {
        &:last-child {
          padding-bottom: 0 !important;
        }
      }
    }
  }
  .search-item-inner {
    padding: 0 $gutter;
  }
  .search-item {
    padding-top: 0;
    &.item-index-0 {
      .pad-t-30 {
        padding-top: 0 !important;
      }
    }
    .item {
      border-bottom: 1px solid $color_grey_very_dark;
    }
    .search-entry-header {
      margin-bottom: 30px;
    }
    .search-entry-content {

    }
  }
  .panel-pagination {
  //  margin-top: 70px;
  }
}


/* TYPOGRAPHY ***************************************************/

.search-template {
  .entry-header {

  }
  .search-item {
    .search-entry-header {

    }
  }
}
