/* STRUCTURE ***************************************************/

.template-fork {
	h4.subhead {
		margin-bottom: 0 !important;
	}
	.related {
		margin-bottom: 0;
	}
	.column-container {
		&.two-col {
			max-width:1050px !important;
			.training-products-fork {
				ul {
					display: flex;
					flex-direction: column;
					align-items: center;
					@media screen and (min-width:$bp_tablet) {
						flex-direction:row;
						align-items:center;
					}
					li {
						@media screen and (max-width:$bp_tablet - 1) {
							width: 100% !important;
						}
						a {
							// display:flex;
							// flex-direction:column;
						}
					}
				}
			}
		}
	}
	.training-products-fork {
		ul {
			margin: 0 auto;
      list-style-type: none;
			padding-left: 0 !important;
		}
	}
	.fork-item {
		margin-bottom: 30px !important;
		.fork-item-image {
			width: 100%;
			height: auto;
			margin-bottom: 30px;
			text-align: center;
			img, picture {
				max-width: 330px;
				max-height: 250px;
				margin: 0 auto;
			}
			&.two-col {
				//1050
				max-width: 450px;
				margin-left: auto;
				margin-right: auto;
				img, picture {
					width: 100%;
					height: auto;
					max-width: 450px;
					max-height:310px;
					margin: 0 auto;
				}
			}
		}
		.training-product-item-headline {
			margin-bottom: 30px !important;
			width: 100%;
			border: 0;
			cursor: text;
			max-width: 350px;
			margin-left: auto;
			margin-right:auto;
			br {
				display: none;
			}
		}
		.fork-item-description {
			max-width: 350px;
			margin-left: auto;
			margin-right:auto;
		}
		.form-item-link {
			margin-top: 5px;
			margin-bottom: 0;
			display: inline-block;
			&:hover {
				text-decoration: underline;
			}
		}
	}
}

/* TYPOGRAPHY ***************************************************/

.template-fork {

}
