@import "../vars";
@import "../utils";

/* STRUCTURE ***************************************************/

.template-blog {
  .blog-posts-feed {
    .blog-post {
      &:last-child {
        hr {
          display: none;
        }
        .entry-content {
          padding-bottom: 0 !important;
        }
      }
    }
  }
  .blog-posts-sidebar {
    .dealer-widget {
      margin-bottom: 50px;
      ul {
        list-style-type: none;
        margin:0;
        padding:0;
        padding-left: 0 !important;
        li {
          list-style-type: none;
          margin: 0 0 10px 0;
        }
      }
    }
  }
}

.panel-pagination {
  a {
    @extend .btn;
  }
  .nav-previous {
    a {
      float: right;
      @media screen and (max-width: $bp_tablet - 1) {
        float: none;
      }
    }
  }
  .nav-next {
    a {
    }
  }
}

/* TYPOGRAPHY ***************************************************/

.template-blog {
  .entry-content {
    h2 {
      font-size: 24px !important;
      font-size: 2.4rem !important;
      font-weight: $weight_regular !important;
      line-height: 1.3 !important;
      margin-bottom: 15px !important;
      clear: both !important;
      @media screen and (max-width: $bp_tablet - 1) {
        font-size: 21px !important;
        font-size: 2.1rem !important;
      }
      strong {
        color: $color_grey_very_dark !important;
        font-weight: $weight_regular !important;
      }
    }
  }
}
