@import "../vars";
@import "../utils";

/* STRUCTURE ***************************************************/

.template-store {
  .left-col {
    p {
      margin-right: 80px;
      @media screen and (max-width: $bp_tablet - 1) {
        margin-right: 0;
      }
    }
  }
  .dealer-widget {
    display: inline-block;
    width: 100%;
    margin-bottom: 50px;
  }
}

.woocommerce {
  ul {
    padding-left: auto !important;
    &.products {
      padding-left: 0 !important;
      li {
        margin-bottom: 50px !important;
      }
      .single_variation {
        .amount {
          font-size: 16px;
          font-size: 1.6rem;
          padding: 10px 0 10px;
          display: inline-block;
          &:before {
            content: "Price: ";
            color: $color_grey_very_dark;
          }
        }
      }
    }
  }
  &.columns-4 {
    padding-bottom: 50px;
  }
  a {
    .price {
      // display: none !important;
    }
  }
  form {
    &.variations_form {
      padding-top: 20px;
      div.clear-selection {
        display: none !important;
        a {
          display: none !important;
        }
      }
    }
    select {
      width: 100% !important;
    }
    .variations {
      padding-top: 20px;
      td {
        padding-bottom: 10px;
        &.label {
          padding-top: 0 !important;
          padding-right: 10px;
          text-align: left;
        }
      }
      a.reset_variations {
        width: 100%;
        float: left;
        clear: both;
      }
      .single_variation_wrap {
        @extend .group;
        .amount-wrap {
          label {
            padding-right: 10px;
            float: left;
            display: inline-block;
            width: auto;
            margin-right: 10px;
            margin-top: 11px;
          }
        }
        .quantity {
          float: left;
          display: inline-block;
          width: 80px;
          text-align: left;
          input {
            margin-top: 17px !important;
            width: 100%;
            text-align: left;
          }
        }
      }
      .button-wrap {
        display: block;
        width: 100%;
        float: left;
        clear: both;
        padding-top: 15px;
      }
    }
    input {
    -webkit-appearance: none;
    -webkit-border-radius:0;
    border-radius:0;
    -webkit-tap-highlight-color:transparent;
    outline: 0;
  }
  input[type="text"],
  input[type="email"],
  input[type="password"],
  input[type="number"],
  textarea,
  select {
    background-color: $color_tan;
    padding: 10px 10px 10px;
    min-height: 40px;
    transition: all 0.1s linear;
    margin-left: 0;
    margin-right: 0;
    &:focus {
      background-color: darken($color_tan, 5%);
    }
  }
  label {
    width: 100%;
    display: block;
    margin-left: 0;
    margin-right: 0;
  }
  input[type="text"],
  input[type="email"],
  input[type="password"],
  input[type="number"],
  textarea {
    @extend .large;
    float: left;
    clear: both;
  }
}

  // Order details page-break-after
  .order_details {
    dl {
      margin-bottom: 0px;
      &:last-child {
        margin: 0;
      }
      dd {
        display: inline;
      }
      dt {
        display: inline;
        p {
          display: inline;
          margin: 0 !important;
        }
      }
    }
  }

  // Items in mini cart and cart
  .cart-item {
    width: 100%;
    float: left;
    clear: both;
    margin: 0 0 10px 0;
    .cart-item-specific {
      p {
        display: inline;
        margin: 0;
      }
    }
  }

  // Shopping cart
  .cart {
    .product-name {
      padding-top: 12px;
      padding-bottom: 12px;
    }
    .cart-item {
      margin: 0 0 4px 0;
      font-size: 13px;
      font-size: 1.3rem;
      &:last-child {
        margin-bottom: 0;
      }
    }
    img {
      display: none;
    }
    a.remove {
      color: $color_orange !important;
      font-size: 14px;
      font-size: 1.4rem;
      &:hover {
        color: $color_red !important;
        background-color: transparent;
      }
    }
  }
  .cart-collaterals .cart_totals {
    float: right;
    width: 25%;
  }
  select {
    background-color: $color_tan !important;
  }
}


.widget_shopping_cart_content {
  width: 100%;
  ul {
    padding-left: 0 !important;
    list-style-type: none;
    margin: 0;
    padding: 0;
    li {
      list-style-type: none;
      margin: 0;
      padding: 0;
      font-size: 14px;
      font-size: 1.4rem;
      padding-bottom: 20px !important;
      background-color: $color_tan;
      padding: 15px;
      a {
        pointer-events: none;
        margin-bottom: 12px;
        display: inline-block;
        color: $color_grey_very_dark !important;
        font-weight: $weight_semi !important;
        &.remove {
          pointer-events: inherit;
          color: inherit !important;
        }
      }
      img {
        display: none;
      }
      dt {
        font-weight: $weight_semi;
      }
      p {
        margin-bottom: 8px !important;
      }
    }
  }
  a.remove {
    position: absolute;
    display: inline-block;
    top: 15px;
    right: 15px;
    font-size: 15px !important;
    font-size: 1.5rem !important;
    font-weight: $weight_semi !important;
  }
  p {
    margin-bottom: 7px !important;
  }
  .buttons {
    a {
      display: block;
      float: left;
      clear: both;
      margin-bottom: 7px;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}

.woocommerce-checkout {
  ul.payment_methods {
    padding: 0 25px !important;
    border: 0 !important;
  }
  .woocommerce-checkout-payment {
    background-color: transparent !important;
    .payment_method_bacs {
      display: none;
    }
  }
  .place-order {
    padding: 0 !important;
  }
  tr.cart_item {
    td.product-name {
      font-weight: $weight_semi;
      padding-top: 12px;
      padding-bottom: 12px;
      span.cart-item {
        margin-bottom: 4px !important;
        font-weight: inherit !important;
        font-size: 13px;
        font-size: 1.3rem;
        &:last-child {
          margin-bottom: 0 !important;
        }
        p {
          font-weight: $weight_regular;
        }
      }
      dl.variation:last-child {
        margin-bottom: 0 !important;
      }
    }
  }
}


.single_variation_wrap {
  .amount-wrap {
    label {
      padding-right: 10px;
      float: left;
      display: inline-block;
      width: auto;
      margin-top: 11px;
    }
  }
  .quantity {
    float: left;
    display: inline-block;
    width: 80px;
    text-align: left;
    input {
      width: 100% !important;
      text-align: left !important;
    }
  }
}
.variations {
  .reset_variations {
    display: none !important;
  }
}

.order_item {
  .product-name {
    padding-top: 12px !important;
    padding-bottom: 12px !important;
    dl.variation {
      margin-bottom: 4px !important;
      font-size: 13px;
      font-size: 1.3rem;
      &:last-child {
        margin-bottom: 0 !important;
      }
      p {
        margin: 0 !important;
      }
      dd {
        margin: 0 !important;
      }
    }
  }
}

ul.order_details {
  padding-left: 0 !important;
  li {
    border: 0 !important;
  }
}


/* TYPOGRAPHY ***************************************************/

.woocommerce {

}
