$upper_end_bp: 1101px;
$lower_end_bp: 1100px;

header {
  position: fixed;
  width: 100%;
  display: block;
  z-index: $z_top;
  .main-header {
    min-height: $header_height;
    background-color: $color_white_a;
    transition: all 0.2s ease;

    @media screen and (max-width: $bp_tablet - 1) {
      min-height: $header_height_phone;
    }
  }
  .logos {
    display: inline-block;
    z-index: $z_overlay;
  }
  .main-header {
    padding-top: 10px;
    nav {
      float: right;
      top: 7px;
      transition: background-color 0.15s linear;
      li {
        margin-right: 25px;
        &:last-child {
          margin-right: 0;
        }
        &.open {
          a {
            .caret {
              transform: rotate(180deg);
            }
          }
        }
      }
      a {
        padding-bottom: 3px;
        .caret {
          margin-top: -3px;
          border-width: 5px;
          margin-left: 3px;
        }
      }
    }
  }
  .menu-trigger {
    float: right;
    right: 0px;
    top: 5px;
    cursor: pointer;
    &:before {
      margin: 0;
    }
    @media screen and (min-width: $upper_end_bp) {
      display: none;
    }
  }

  /* Site Search and Zip Search */

  .header-state-nav {
    @extend .group;
    //@media screen and (max-width: $bp_desktop_m - 1) {
    @media screen and (max-width: $lower_end_bp) {
      #header-state-main-nav {
        display: none;
      }
    }
    .main-nav-options {
      margin-left: 25px;
      float: right;
      top: -6px;
      @media screen and (max-width: $bp_tablet - 1) {
        top: -6px;
      }
    }
  }

  li.site-search {
    margin-right: 18px !important;
    a {
      &:before {
        font-size: 17px !important;
        font-size: 1.7rem !important;
      }
    }
    @media screen and (max-width: $bp_tablet - 1) {
      display: none;
    }
  }
  li.find-a-dealer-trig {
    margin-right: 0 !important;
    a {
      @extend .btn;
      @extend .no-min;
      display: block !important;
      overflow: visible !important;
      padding-top: 3px;
      background-color: $color_green_dark !important;
      margin-right: -4px;
      &:hover,
      &:active {
        background-color: $color_green !important;
      }
      @media screen and (max-width: 1051) {
        margin-right: 0 !important;
      }
    }
    @media screen and (max-width: $lower_end_bp) {
      margin-right: 25px !important;
      a {
        margin-right: 0;
      }
    }
    @media screen and (max-width: $bp_tablet - 1) {
      display: none;
    }
  }
}

// ----------------------------------------------------------------------------
// dropdown
// ----------------------------------------------------------------------------

// ----------------------------------------------------------------------------
// logos
// ----------------------------------------------------------------------------

// Regular header
header {
  .logos {
    a {
      top: 18px;
      text-indent: -9999px;
      display: inline-block;
      z-index: $z_overlay;
      svg {
        //width: 258px;
        //height: 32px;
        transition: fill 0.2s;
        @media screen and (max-width: $bp_tablet - 1) {
          //width: 200px;
          //height: 25px;
        }
      }
      &.logo-large {
        display: block;
        @media screen and (max-width: $bp_tablet - 1) {
          display: none;
        }
      }
      &.logo-small {
        display: none;
        @media screen and (max-width: $bp_tablet - 1) {
          display: block;
        }
      }
    }
  }
  // Scrolling header
  &.scroll-header {
    .logos {
      a {
        @media screen and (min-width: $bp_tablet) {
          top: 20px;
        }
        // on the scrolling header, only show the small logo
        &.logo-large {
          display: none;
          @media screen and (max-width: $bp_tablet - 1) {
            display: none;
          }
        }
        &.logo-small {
          display: block;
          @media screen and (max-width: $bp_tablet - 1) {
            display: block;
          }
          svg {
            path {
              fill: #fff;
            }
          }
        }
      }
    }
  }
  .main-header {
    &.state-green {
      .logos {
        a {
          svg {
            path {
              fill: $color_white;
            }
          }
        }
      }
    }
  }
}

.logo-small {
  svg {
    @media screen and (max-width: $bp_phone - 1) {
      width: 281px;
      height: 21px;
    }
    @media screen and (max-width: 380px) {
      width: 230px;
      height: 17px;
    }
  }
}

/* TYPOGRAPHY ***************************************************/

header {
  nav {
    a {
      color: $color_green_dark;
      font-size: 14px;
      font-size: 1.4rem;
      font-weight: $weight_bold;
      text-transform: uppercase;
    }
    .dropdown-menu {
      li {
        a {
          color: $color_white;
        }
      }
    }
  }
  .menu-trigger {
    color: $color_green_dark;
    font-size: 21px;
    font-size: 2.1rem;
  }
  .site-search {
  }
  .find-a-dealer {
    a {
      color: $color_white;
      font-size: 14px;
      font-size: 1.4rem;
      letter-spacing: 0 !important;
    }
  }
}

header.scroll-header {
  nav {
    a {
      color: $color_white;
    }
  }
  .menu-trigger {
    color: $color_white;
  }
}

/**
 *
 * New Blog Nav Overrides
 *
 */

header {
  .main-header {
    display: flex;
    align-content: stretch;
    padding-top: 0 !important;
    .container {
      display: flex;
      align-content: flex-end;
      width: 100%;
      .logos {
        margin-right: auto;
        display: flex;
        align-items: center;
        a {
          top: inherit !important;
        }
      }
      // Contains the nav and the search
      .header-state {
        padding-top: 0 !important;
        // The header state with the navs
        &.header-state-nav {
          align-items: center;
          &.active {
            display: flex;
          }
          nav {
            top: inherit !important;
            // Search and the menu button
            &.main-nav-options {
              width: auto !important;
              top: inherit !important;
              ul {
                display: flex;
                align-items: center;
                > * + * {
                  @media screen and (max-width: $lower_end_bp) {
                    margin-left: 25px;
                  }
                }
              }
              // The search button
              li.site-search {
                position: relative !important;
                right: inherit !important;
                top: inherit !important;
                margin-right: auto !important;
                a {
                  &:before {
                    margin: 0 !important;
                  }
                }
              }
              // Hamburger menu
              li.menu-trig {
                position: relative;
                top: inherit !important;

                @media screen and (min-width: $max_width_blog + 1) {
                  display: none;
                }
                .menu-trigger {
                  top: inherit !important;
                }
              }
            }
            // The main nav
            &.main-nav {
            }
          }
        }

        // The other state where we show site search
        &.header-state-site-search {
          align-items: center;
          &.active {
            display: flex;
          }
          // Container for search and close
          .state-content {
            display: flex;
            margin-top: inherit !important;
            padding-top: inherit !important;
            .nav-align {
              display: flex;
              align-items: center;
              margin-top: inherit !important;
              margin-left: 25px !important;
              a {
                margin-left: 0 !important;
              }
            }
            form {
              @media screen and (max-width: $bp_tablet - 1) {
                display: none;
              }
            }
          }
        }
      }
    }
  }
}

/**
 *
 * Mobile Nav Overrides
 *
 */

#jPanelMenu-menu {
  a.site-search {
  }
  a.reset-header-state {
  }
  a.logo-svg {
  }
  a {
    &.logo-large {
      display: none;
      @media screen and (max-width: $bp_tablet - 1) {
        display: none;
      }
    }
    &.logo-small {
      display: none;
      @media screen and (max-width: $bp_tablet - 1) {
        display: block;
        position: absolute;
        top: 23px;
        left: 20px;
        svg {
          path {
            fill: #fff;
          }
        }
      }
      @media screen and (max-width: $bp_phone - 1) {
        top: 25px;
        svg {
          width: 281px;
          height: 21px;
        }
      }
      @media screen and (max-width: 380px) {
        top: 27px;
        svg {
          width: 230px;
          height: 17px;
        }
      }
    }
  }
  ul.nav {
  }
  form.sitesearch {
  }
  a.site-search {
  }
}

.scroll-body {
  #jPanelMenu-menu {
    a.logo-small {
      @media screen and (max-width: $bp_phone - 1) {
        top: 16px !important;
      }
      @media screen and (max-width: 380px) {
        top: 18px !important;
      }
    }
  }
}
