html {
	font-size: $base_font_size;
	font-smoothing: antialiased;
	-moz-font-smoothing: antialiased;
	-webkit-font-smoothing: antialiased;
}
body {
	font-size: 16px;
	font-size: 1.6rem;
	font-family: $font_serif;
	font-weight: $weight_regular;
	color: $color_grey_very_dark;
}
a {
	text-decoration: none;
}
