/* Misc / hides */

#template_options .cmb-multicheck-toggle,
#home_template_options .cmb-multicheck-toggle,
#child_list_template_options .cmb-multicheck-toggle,
#fork_template_options .cmb-multicheck-toggle,
#store_template_options .cmb-multicheck-toggle,
#product_template_options .cmb-multicheck-toggle {
  display: none;
}

.jump-link {
  font-size: 13px;
}

.hidden {
  display: none;
}

.cmb-row.no-border {
  border: 0 !important;
  padding-bottom: 0 !important;
  margin-bottom: 0 !important;
}

/* Sidebar modules */

#side-sortables .cmb-row {
  padding: 0.25em 0 !important;
}

#side-sortables .cmb-type-title label {
  display: none;
}

#side-sortables .cmb-row.clear-pad .cmb-td label {
  display: none !important;
}
#side-sortables .cmb-row.clear-pad .cmb-td h5 {
  display: none !important
}
#side-sortables .cmb-row.clear-pad .cmb-td p {
  margin: 0 !important
}
#side-sortables .cmb-row.clear-pad .cmb2-metabox-description {
  padding-bottom: 5px !important;
  padding-top: 0 !important;
}

/* Display Options */

#side-sortables #display_options label:after {
  border: 0;
  padding: 0;
}
#side-sortables #display_options .cmb-th {
  padding: 0;
}
#side-sortables #display_options .cmb-row {
  padding-bottom: 18px !important;
}
#side-sortables #display_options .cmb-row .cmb2-metabox-description {
  padding: 0 !important;
}

/* Checkboxes */

#side-sortables .cmb2-checkbox-list {
  max-height: 150px;
  overflow-y: scroll;
}

#template_options .cmb2-checkbox-list li,
#home_template_options .cmb2-checkbox-list li,
#child_list_template_options .cmb2-checkbox-list li,
#fork_template_options .cmb2-checkbox-list li,
#store_template_options .cmb2-checkbox-list li,
#product_template_options .cmb2-checkbox-list li {
  margin-bottom: 0.5em !important;
}

#template_options .cmb2-checkbox-list li:last-child,
#home_template_options .cmb2-checkbox-list li:last-child,
#child_list_template_options .cmb2-checkbox-list li:last-child,
#fork_template_options .cmb2-checkbox-list li:last-child,
#store_template_options .cmb2-checkbox-list li:last-child,
#product_template_options .cmb2-checkbox-list li:last-child {
  margin-bottom: 0 !important;
}

/* Repeatable field groups */

.cmb-repeatable-grouping .cmb-th,
.cmb-repeatable-grouping .cmb-td {
  width: 100% !important;
  float: left !important;
  clear: both !important;
}
.cmb-repeatable-grouping .cmb-row {
  padding: 0.5em 0 !important;
}

/* Dealer Custom Post Type */

.cmb-th,
.cmb-td {
  width: 100% !important;
  clear: both !important;
}
/*
.cmb-row {
  padding: 0.5em 0 !important;
}
*/
.cmb-row {
  border: 0;
}


.admin-row {

}

.admin-col {
  border: 0 !important;
}

.cmb-row:before,
.cmb-row:after {
  content: "";
  display: table;
}
.cmb-row:after {
  clear: both;
}

.group:before,
.group:after {
    content: "";
    display: table;
}
.group:after {
    clear: both;
}
.group {
    zoom: 1; /* For IE 6/7 (trigger hasLayout) */
}

/* Bootstrap Layout Stuff */

/* Scaffolding */
.container {
  /*
  padding-right: 2px !important;
  padding-left: 2px !important;
  */
  margin-right: auto !important;
  margin-left: auto !important;
}
.row {
  /*
  margin-left: -10px !important;
  margin-right: -10px !important;
  */
}
.col {
  width: 100%;
}
.row .admin-col:first-child {
  padding-left: 0 !important;
}
.row .admin-col:last-child {
  padding-right: 0 !important;
  float: right !important;
}
.cmb-row .col-sm-6 {
  padding-left: 10px !important;
  padding-right: 10px !important;
  width: 48% !important;
}

@media screen and (max-width: 1057px) {
  .row .admin-col:first-child {
    width: 100% !important;
    float: left !important;
  }
  .row .admin-col:last-child {
    width: 100% !important;
    float: left !important;
    padding-left: 0px !important;
    padding-right: 0px !important;
  }
  .cmb-row .col-sm-6 {
    width: 100% !important;
    float: left !important;
  }
}

.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
  position: relative;
  min-height: 1px;
  padding-left: 25px;
  padding-right: 25px;
}
.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
  float: left !important;
}
.col-xs-12 {
  width: 100%;
}
.col-xs-11 {
  width: 91.66666667%;
}
.col-xs-10 {
  width: 83.33333333%;
}
.col-xs-9 {
  width: 75%;
}
.col-xs-8 {
  width: 66.66666667%;
}
.col-xs-7 {
  width: 58.33333333%;
}
.col-xs-6 {
  width: 50%;
}
.col-xs-5 {
  width: 41.66666667%;
}
.col-xs-4 {
  width: 33.33333333%;
}
.col-xs-3 {
  width: 25%;
}
.col-xs-2 {
  width: 16.66666667%;
}
.col-xs-1 {
  width: 8.33333333%;
}
@media (min-width: 1057px) {
  .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
    float: left !important;
  }
  .col-sm-12 {
    width: 100%;
  }
  .col-sm-11 {
    width: 91.66666667%;
  }
  .col-sm-10 {
    width: 83.33333333%;
  }
  .col-sm-9 {
    width: 75%;
  }
  .col-sm-8 {
    width: 66.66666667%;
  }
  .col-sm-7 {
    width: 58.33333333%;
  }
  .col-sm-6 {
    width: 50%;
  }
  .col-sm-5 {
    width: 41.66666667%;
  }
  .col-sm-4 {
    width: 33.33333333%;
  }
  .col-sm-3 {
    width: 25%;
  }
  .col-sm-2 {
    width: 16.66666667%;
  }
  .col-sm-1 {
    width: 8.33333333%;
  }
}
@media (min-width: 960px) {
  .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    float: left;
  }
  .col-md-12 {
    width: 100%;
  }
  .col-md-11 {
    width: 91.66666667%;
  }
  .col-md-10 {
    width: 83.33333333%;
  }
  .col-md-9 {
    width: 75%;
  }
  .col-md-8 {
    width: 66.66666667%;
  }
  .col-md-7 {
    width: 58.33333333%;
  }
  .col-md-6 {
    width: 50%;
  }
  .col-md-5 {
    width: 41.66666667%;
  }
  .col-md-4 {
    width: 33.33333333%;
  }
  .col-md-3 {
    width: 25%;
  }
  .col-md-2 {
    width: 16.66666667%;
  }
  .col-md-1 {
    width: 8.33333333%;
  }
}
@media (min-width: 1200px) {
  .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
    float: left;
  }
  .col-lg-12 {
    width: 100%;
  }
  .col-lg-11 {
    width: 91.66666667%;
  }
  .col-lg-10 {
    width: 83.33333333%;
  }
  .col-lg-9 {
    width: 75%;
  }
  .col-lg-8 {
    width: 66.66666667%;
  }
  .col-lg-7 {
    width: 58.33333333%;
  }
  .col-lg-6 {
    width: 50%;
  }
  .col-lg-5 {
    width: 41.66666667%;
  }
  .col-lg-4 {
    width: 33.33333333%;
  }
  .col-lg-3 {
    width: 25%;
  }
  .col-lg-2 {
    width: 16.66666667%;
  }
  .col-lg-1 {
    width: 8.33333333%;
  }
}

/* Targetted panels */
#main_content_area.postbox {
  border: 0 !important;
  background: transparent !important;
  box-shadow: inherit !important;
}

#main_content_area .handlediv {
  cursor: default !important;
}

#main_content_area .handlediv:before {
  content: "" !important;
}

#main_content_area h3 {
  padding-left: 0 !important;
  cursor: default !important;
  display: none;
}

#main_content_area .inside {
  padding: 0;
}

#main_content_one, #main_content_two {
  display: none;
}
